workflows/appointments.json
{
  "name": "appointments",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "appointment_id"
            },
            {
              "name": "professional_id"
            },
            {
              "name": "client_id"
            },
            {
              "name": "service_id"
            },
            {
              "name": "start_datetime"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        6928
      ],
      "id": "3d49ec35-c336-4d5a-aad8-5bda26340e89",
      "name": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "885af5fc-e3b3-4282-b5b2-14343216b071",
              "name": "business",
              "value": "={{ $json.business.removeField('client_remote_jid') }}",
              "type": "object"
            },
            {
              "id": "4142f544-89a2-44a1-b42f-4ffe05f8eda0",
              "name": "data",
              "value": "={{ (() => {\n  return {\n    action: $json.action || 'get',\n    appointment: {\n      id: $json.appointment_id || '',\n      start_datetime: $json.start_datetime || ''\n    },\n    client: {\n      id: $json.client_id || '',\n      phone: $json.business.client_remote_jid.split('@')[0] || ''\n    },\n    professional: {\n      id: $json.professional_id || ''\n    },\n    service: {\n      id: $json.service_id || ''\n    }\n  };\n})() }}",
              "type": "object"
            },
            {
              "id": "064cb0fd-8607-4646-8fc3-91f1ad6e8aac",
              "name": "api",
              "value": "={{ $json.api }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        6928
      ],
      "id": "d9393947-1c79-447e-9b62-44226a908602",
      "name": "data handler"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edb3e1d9-c030-457e-8736-852be0e6c9e3",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5c0a724-d78c-4ebf-b61d-8a647698c685"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PATCH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afc83179-c5f5-4b32-8b2b-ac4541eaf40c",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCEL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "515c42e0-1cc3-474f-b8bd-94312e698da1",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        6896
      ],
      "id": "fb650163-3d00-49dc-81f5-c562f521b17d",
      "name": "action"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('data handler').item.json.api.url }}/appointments/{{ $('data handler').item.json.data.appointment.id }}/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        7120
      ],
      "id": "f4b3dd1f-3f82-472e-bd13-9f4138816a04",
      "name": "cancel",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "beautyflow.api@gmail.com",
          "mode": "list",
          "cachedResultName": "beautyflow.api@gmail.com"
        },
        "start": "={{ $('post').item.json.start_datetime }}",
        "end": "={{ $('post').item.json.end_datetime }}",
        "additionalFields": {
          "attendees": [
            "={{ $('appointment context').item.json.professional.email }}"
          ],
          "description": "=Detalhes do Agendamento:\n\nID: {{ $('appointment context').item.json.id }}\nCliente: {{ $('appointment context').item.json.client.name }}\nServiço: {{ $('appointment context').item.json.service.name }}\nProfissional: {{ $('appointment context').item.json.professional.name }}\nDia: {{ $('appointment context').item.json.date }} ({{ $('appointment context').item.json.weekday }})",
          "summary": "={{ $('appointment context').item.json.service.name }} - {{ $('appointment context').item.json.client.name }} (#{{ $('appointment context').item.json.id }})"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3824,
        6560
      ],
      "id": "b4b1978e-ce42-47cd-9a4a-b36d9f113409",
      "name": "add to calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "il5QImXhsEG3w3pY",
          "name": "calendar beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('appointment context').item.json.professional.email }}",
        "subject": "=Novo Agendamento Confirmado - {{ $('appointment context').item.json.client.name }} - (#{{ $('appointment context').item.json.id }})",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Novo agendamento confirmado</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f4f6f8; margin:0; padding:24px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; max-width:600px; background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n          \n          <tr>\n            <td style=\"background-color:#111827; padding:24px 32px; text-align:center;\">\n              <h1 style=\"margin:0; font-size:22px; line-height:30px; color:#ffffff; font-weight:700;\">\n                Novo agendamento confirmado\n              </h1>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:32px;\">\n              <p style=\"margin:0 0 16px 0; font-size:16px; line-height:24px;\">\n                Olá, <strong>{{ $('appointment context').item.json.professional.name }}</strong>.\n              </p>\n\n              <p style=\"margin:0 0 24px 0; font-size:16px; line-height:24px;\">\n                Informamos que um novo agendamento foi confirmado em sua agenda. Abaixo estão os detalhes:\n              </p>\n\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; width:180px; color:#6b7280;\">\n                    Cliente\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.client.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Serviço\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Data\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.date }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Horário\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.start_time }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Duração\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.duration_minutes }} min\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; font-size:15px; color:#6b7280;\">\n                    Unidade / Local\n                  </td>\n                  <td style=\"padding:12px 0; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.business.address }}\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 24px 0; font-size:15px; line-height:24px; color:#374151;\">\n                Caso necessário, revise sua agenda para se organizar com antecedência.\n              </p>\n\n              <p style=\"margin:0; font-size:15px; line-height:24px;\">\n                Atenciosamente,<br />\n                <strong>{{ $('appointment context').item.json.business.bot_name }}</strong>, seu(sua) assistente de agendamento 😊!\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:20px 32px; background-color:#f9fafb; border-top:1px solid #e5e7eb; text-align:center;\">\n              <p style=\"margin:0; font-size:12px; line-height:18px; color:#6b7280;\">\n                Este é um e-mail automático de confirmação de agendamento.\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": true,
          "bccList": "ultimateclash22@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4032,
        6544
      ],
      "id": "4c563dc8-4f03-45b3-be2e-ea6f4b2e382e",
      "name": "confirmation email",
      "webhookId": "7b0df6e3-ebf1-4bd3-97e4-80827c3e8791",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('data handler').item.json.api.url }}/appointments/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('data handler').item.json.data.client.id }}"
            },
            {
              "name": "professional_id",
              "value": "={{ $('data handler').item.json.data.professional.id }}"
            },
            {
              "name": "service_id",
              "value": "={{ $('data handler').item.json.data.service.id }}"
            },
            {
              "name": "start_datetime",
              "value": "={{ $('data handler').item.json.data.appointment.start_datetime }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        6672
      ],
      "id": "ab656d6a-8dad-42e8-b6bc-53c9d431c5d8",
      "name": "post",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('data handler').item.json.api.url }}/appointments/{{ $('data handler').item.json.data.appointment.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const data = $('data handler').item.json.data;\n  const appointment = $('data handler').item.json.data.appointment;\n\n  return Object.fromEntries(\n    Object.entries({\n      professional_id: data.professional_id,\n      service_id: data.service_id,\n      start_datetime: appointment.start_datetime,\n    }).filter(([_, value]) => value !== undefined && value !== null)\n  );\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        6848
      ],
      "id": "95865ddd-3846-4fbb-a969-5dc5a99003d8",
      "name": "patch",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ultimateclash22@gmail.com",
          "mode": "list",
          "cachedResultName": "ultimateclash22@gmail.com"
        },
        "limit": 1,
        "timeMin": "=",
        "timeMax": "=",
        "options": {
          "query": "=Agendamento {{ $('appointment context').item.json.client.name || $('cancel context').item.json.client.name }} {{ $('appointment context').item.json.id }} {{ $('appointment context').item.json.professional.name || $('cancel context').item.json.professional.name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3824,
        6832
      ],
      "id": "6fd8d63b-750b-40dd-b8be-f6ab4ae47c7b",
      "name": "get event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "il5QImXhsEG3w3pY",
          "name": "calendar beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ultimateclash22@gmail.com",
          "mode": "list",
          "cachedResultName": "ultimateclash22@gmail.com"
        },
        "eventId": "={{ $('get event').item.json.id }}",
        "updateFields": {
          "description": "=Detalhes do Agendamento:\n\nID: {{ $('appointment context').item.json.id }}\nCliente: {{ $('appointment context').item.json.client.name }}\nServiço: {{ $('appointment context').item.json.service.name }}\nProfissional: {{ $('appointment context').item.json.professional.name }}\nDia: {{ $('appointment context').item.json.date }} ({{ $('appointment context').item.json.weekday }})",
          "end": "={{ $('appointment context').item.json.end_datetime }}",
          "start": "={{ $('appointment context').item.json.start_datetime }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4032,
        6816
      ],
      "id": "75dfb011-5379-415a-8468-b95d0ceeeef6",
      "name": "update event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "il5QImXhsEG3w3pY",
          "name": "calendar beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "=Agendamento {{ $('appointment context').item.json.client.name || $('cancel context').item.json.client.name }} {{ $('appointment context').item.json.id }} {{ $('appointment context').item.json.professional.name || $('cancel context').item.json.professional.name }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4240,
        6800
      ],
      "id": "7edbc6b1-828c-4969-b3fc-51c00aef1675",
      "name": "get email",
      "webhookId": "7b0df6e3-ebf1-4bd3-97e4-80827c3e8791",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('get email').item.json.id }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Novo agendamento confirmado</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f4f6f8; margin:0; padding:24px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; max-width:600px; background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n          \n          <tr>\n            <td style=\"background-color:#111827; padding:24px 32px; text-align:center;\">\n              <h1 style=\"margin:0; font-size:22px; line-height:30px; color:#ffffff; font-weight:700;\">\n                Agendamento atualizado\n              </h1>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:32px;\">\n              <p style=\"margin:0 0 16px 0; font-size:16px; line-height:24px;\">\n                Olá, <strong>{{ $('appointment context').item.json.professional.name }}</strong>.\n              </p>\n\n              <p style=\"margin:0 0 24px 0; font-size:16px; line-height:24px;\">\n                Informamos que o agendamento abaixo foi atualizado em sua agenda. Abaixo estão os detalhes atualizados:\n              </p>\n\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; width:180px; color:#6b7280;\">\n                    Cliente\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.client.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Serviço\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Data\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.date }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Horário\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.start_time }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Duração\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.duration_minutes }} min\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; font-size:15px; color:#6b7280;\">\n                    Unidade / Local\n                  </td>\n                  <td style=\"padding:12px 0; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.business.address }}\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 24px 0; font-size:15px; line-height:24px; color:#374151;\">\n                Caso necessário, revise sua agenda para se organizar com antecedência.\n              </p>\n\n              <p style=\"margin:0; font-size:15px; line-height:24px;\">\n                Atenciosamente,<br />\n                <strong>{{ $('appointment context').item.json.business.bot_name }}</strong>, seu(sua) assistente de agendamento 😊!\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:20px 32px; background-color:#f9fafb; border-top:1px solid #e5e7eb; text-align:center;\">\n              <p style=\"margin:0; font-size:12px; line-height:18px; color:#6b7280;\">\n                Este é um e-mail automático de confirmação de agendamento.\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4448,
        6784
      ],
      "id": "426c5f0e-a728-4516-a39c-27af9cb76cc3",
      "name": "update email",
      "webhookId": "7b0df6e3-ebf1-4bd3-97e4-80827c3e8791",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ultimateclash22@gmail.com",
          "mode": "list",
          "cachedResultName": "ultimateclash22@gmail.com"
        },
        "eventId": "={{ $('get event 1').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4240,
        7088
      ],
      "id": "3cd74882-bf37-49f0-81a9-632ce92453f7",
      "name": "delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "il5QImXhsEG3w3pY",
          "name": "calendar beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ultimateclash22@gmail.com",
          "mode": "list",
          "cachedResultName": "ultimateclash22@gmail.com"
        },
        "limit": 1,
        "timeMin": "=",
        "timeMax": "=",
        "options": {
          "query": "=Agendamento {{ $('appointment context').item.json.client.name || $('cancel context').item.json.client.name }} {{ $('appointment context').item.json.id }} {{ $('appointment context').item.json.professional.name || $('cancel context').item.json.professional.name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4032,
        7104
      ],
      "id": "b8d4fb05-3f75-4221-bd54-95c1bad3b7b0",
      "name": "get event 1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "il5QImXhsEG3w3pY",
          "name": "calendar beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('get email 1').item.json.id }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Novo agendamento confirmado</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f4f6f8; margin:0; padding:24px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; max-width:600px; background-color:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n          \n          <tr>\n            <td style=\"background-color:#111827; padding:24px 32px; text-align:center;\">\n              <h1 style=\"margin:0; font-size:22px; line-height:30px; color:#ffffff; font-weight:700;\">\n                Agendamento atualizado\n              </h1>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:32px;\">\n              <p style=\"margin:0 0 16px 0; font-size:16px; line-height:24px;\">\n                Olá, <strong>{{ $('appointment context').item.json.professional.name }}</strong>.\n              </p>\n\n              <p style=\"margin:0 0 24px 0; font-size:16px; line-height:24px;\">\n                Informamos que o agendamento abaixo foi atualizado em sua agenda. Abaixo estão os detalhes atualizados:\n              </p>\n\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; width:180px; color:#6b7280;\">\n                    Cliente\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.client.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Serviço\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.name }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Data\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.date }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Horário\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.start_time }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; color:#6b7280;\">\n                    Duração\n                  </td>\n                  <td style=\"padding:12px 0; border-bottom:1px solid #e5e7eb; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.service.duration_minutes }} min\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:12px 0; font-size:15px; color:#6b7280;\">\n                    Unidade / Local\n                  </td>\n                  <td style=\"padding:12px 0; font-size:15px; font-weight:600;\">\n                    {{ $('appointment context').item.json.business.address }}\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 24px 0; font-size:15px; line-height:24px; color:#374151;\">\n                Caso necessário, revise sua agenda para se organizar com antecedência.\n              </p>\n\n              <p style=\"margin:0; font-size:15px; line-height:24px;\">\n                Atenciosamente,<br />\n                <strong>{{ $('appointment context').item.json.business.bot_name }}</strong>, seu(sua) assistente de agendamento 😊!\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:20px 32px; background-color:#f9fafb; border-top:1px solid #e5e7eb; text-align:center;\">\n              <p style=\"margin:0; font-size:12px; line-height:18px; color:#6b7280;\">\n                Este é um e-mail automático de confirmação de agendamento.\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4656,
        7056
      ],
      "id": "1a36c0d4-7538-4aa0-b80f-e30f5a289f6f",
      "name": "delete email",
      "webhookId": "7b0df6e3-ebf1-4bd3-97e4-80827c3e8791",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/professionals/{{ $('pre-context').item.json.appointment.professional_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        6688
      ],
      "id": "00367adc-8515-468a-b402-4d13c0b11cf7",
      "name": "get professional",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/services/{{ $('pre-context').item.json.appointment.service_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        6912
      ],
      "id": "15c00e8c-512d-4a80-b23b-2ad45e0c1a63",
      "name": "get service",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/clients/{{ $('pre-context').item.json.appointment.client_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        7152
      ],
      "id": "e6be5390-c59f-4090-a424-90a94aac3863",
      "name": "get client",
      "retryOnFail": true,
      "notesInFlow": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2944,
        6896
      ],
      "id": "65eeecd0-64e0-4c39-a53f-0c7f1f252c0c",
      "name": "merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "=Agendamento {{ $('appointment context').item.json.client.name || $('cancel context').item.json.client.name }} {{ $('appointment context').item.json.id }} {{ $('appointment context').item.json.professional.name || $('cancel context').item.json.professional.name }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4448,
        7072
      ],
      "id": "2465dce8-3037-485c-ae5e-0522ae62f73f",
      "name": "get email 1",
      "webhookId": "7b0df6e3-ebf1-4bd3-97e4-80827c3e8791",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edb3e1d9-c030-457e-8736-852be0e6c9e3",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5c0a724-d78c-4ebf-b61d-8a647698c685"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PATCH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34d3012c-febb-49f1-afad-08861bdcbb7d",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afc83179-c5f5-4b32-8b2b-ac4541eaf40c",
                    "leftValue": "={{ $('data handler').item.json.data.action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCEL"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3584,
        6864
      ],
      "id": "0e07e16a-be86-4073-901e-e5a51aed68fe",
      "name": "action 1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"node\": \"pre-context\",\n    \"type\": \"internal api\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2288,
        7088
      ],
      "id": "05898a33-4b71-4b69-b4c9-50ea7f10f37e",
      "name": "error report 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "804a7f04-c007-4045-a9f5-34b606a6eea1",
              "name": "sucess",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "7748568d-748f-4ac6-ab88-fb32197f0806",
              "name": "appointments",
              "value": "={{ $json.appointments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5408,
        6912
      ],
      "id": "03f8d730-8851-46b7-8ded-607600066810",
      "name": "final return"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5152,
        6912
      ],
      "id": "8b029c61-154d-4ef7-a608-daf6b0f5d864",
      "name": "aggregate"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/appointments/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('data handler').item.json.data.client.id || $('get client 1').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        7232
      ],
      "id": "fb07b3e1-cb64-4665-850a-1438d4dac072",
      "name": "get by client",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/clients/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_phone",
              "value": "={{ $('data handler').item.json.data.client.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        7376
      ],
      "id": "f955d360-6fc2-4a04-a53f-ba070e8714ca",
      "name": "get client 1",
      "retryOnFail": true,
      "notesInFlow": false,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal api\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1488,
        7584
      ],
      "id": "f9886f9e-0089-4193-ac38-1fd61987e001",
      "name": "error report 2"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/appointments/{{ $('data handler').item.json.data.appointment.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        7040
      ],
      "id": "fc56f51e-2173-463f-9156-f11668b18933",
      "name": "get by id",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7b05632-1078-42fa-ae6f-de3be1db8cde",
              "leftValue": "={{ $('data handler').item.json.data.appointment.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        7248
      ],
      "id": "ceafee95-b30f-40e0-891d-985a84ebded5",
      "name": "id?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79b424a3-a6ce-45db-88aa-b5968a02e34a",
              "name": "appointment",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "f3ecc3a2-1f74-4781-a970-2f261521d6a3",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        6928
      ],
      "id": "539cc1b3-f533-4e04-8a56-288be7831966",
      "name": "pre-context"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"node\": \"get context\",\n    \"type\": \"internal api\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3376,
        7088
      ],
      "id": "4c3f913f-9742-4633-8766-1e69549931dc",
      "name": "error report 3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 🔹 Fonte principal\nconst source = $('pre-context').item.json.appointment;\n\n// 🔹 Flatten do campo \"\"\nconst base = source[\"\"] ? source[\"\"] : {};\nconst result = { ...base };\n\nfor (const key in source) {\n  if (key !== \"\") {\n    result[key] = source[key];\n  }\n}\n\n// 🔹 Buscar dados externos (com fallback)\nlet professional = {};\nlet service = {};\nlet client = {};\nlet business = {};\n\ntry {\n  const raw = $('get professional').item.json;\n  professional = { ...raw };\n  delete professional.business_id;\n  delete professional.is_active;\n} catch (e) {}\n\ntry {\n  const raw = $('get service').item.json;\n  service = { ...raw };\n  delete service.business_id;\n  delete service.is_active;\n} catch (e) {}\n\ntry {\n  const raw = $('get client').item.json;\n  client = { ...raw };\n  delete client.business_id;\n} catch (e) {}\n\ntry {\n  business = $('data handler').item.json.business;\n} catch (e) {}\n\n// 🔹 Remove campos do appointment\ndelete result.business_id;\ndelete result.client_id;\ndelete result.professional_id;\ndelete result.service_id;\ndelete result.created_at;\n\n// 🔹 Helpers seguros (anti erro de data)\nconst safeDate = (iso) => {\n  if (!iso) return null;\n  const d = new Date(iso);\n  return isNaN(d) ? null : d;\n};\n\nconst formatDate = (date) =>\n  date\n    ? new Intl.DateTimeFormat('pt-BR', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        timeZone: 'America/Sao_Paulo',\n      }).format(date)\n    : null;\n\nconst formatTime = (date) =>\n  date\n    ? new Intl.DateTimeFormat('pt-BR', {\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false,\n        timeZone: 'America/Sao_Paulo',\n      }).format(date)\n    : null;\n\nconst formatWeekday = (date) => {\n  if (!date) return null;\n\n  const weekday = new Intl.DateTimeFormat('pt-BR', {\n    weekday: 'long',\n    timeZone: 'America/Sao_Paulo',\n  }).format(date);\n\n  return weekday.charAt(0).toUpperCase() + weekday.slice(1);\n};\n\n// 🔹 Datas seguras\nconst startDate = safeDate(result.start_datetime);\nconst endDate = safeDate(result.end_datetime);\n\n// 🔹 RETORNO (⚠️ objeto, não array)\nreturn {\n  json: {\n    ...result,\n\n    date: formatDate(startDate),\n    weekday: formatWeekday(startDate),\n    start_time: formatTime(startDate),\n    end_time: formatTime(endDate),\n\n    professional,\n    service,\n    client,\n    business,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        6896
      ],
      "id": "957f3db0-9084-42c4-bf2b-b94df4536d8c",
      "name": "appointment context"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('appointment context').item.json;\n\nconst result = source[\"\"] ? source[\"\"] : source;\n\nconst action = $('data handler').item.json.data?.action;\n\nif (action === 'cancel') {\n  result.status = 'canceled';\n}\n\nreturn {\n  json: result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        6912
      ],
      "id": "c86e12e7-6238-4319-84dd-06bc1eb5e6c6",
      "name": "return context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e7b6f17-9b3c-4573-999b-eede35da6660",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3152,
        6912
      ],
      "id": "b6c32988-eb99-42a1-b3e4-3b3a3b13898b",
      "name": "error? 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e7b6f17-9b3c-4573-999b-eede35da6660",
              "leftValue": "={{ $('pre-context').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        6928
      ],
      "id": "3dd2d38f-3b51-4f0e-b552-495bf4ed94cf",
      "name": "error?"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "action": "post",
          "business": {
            "name": "Barbearia do Kaiky",
            "address": "",
            "bot_name": "Alessa",
            "client_remote_jid": "5511991549118@s.whatsapp.net"
          },
          "appointment_id": "",
          "professional_id": "1",
          "client_id": "2",
          "service_id": "1",
          "start_datetime": "2026-05-15T16:30:00-03:00",
          "api": {
            "url": "http://beautyflow_backend:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3Nzg3OTIzMzJ9.YjcEyWkqCarKP5FpWyRx0cPmSJ8l13JH4dYLyIStN_s",
            "evo_instance": "sale_instance"
          }
        }
      }
    ]
  },
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action": {
      "main": [
        [
          {
            "node": "post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "patch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add to calendar": {
      "main": [
        [
          {
            "node": "confirmation email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post": {
      "main": [
        [
          {
            "node": "pre-context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "patch": {
      "main": [
        [
          {
            "node": "pre-context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "get event": {
      "main": [
        [
          {
            "node": "update event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update event": {
      "main": [
        [
          {
            "node": "get email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get email": {
      "main": [
        [
          {
            "node": "update email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancel": {
      "main": [
        [
          {
            "node": "get event 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete event": {
      "main": [
        [
          {
            "node": "get email 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get event 1": {
      "main": [
        [
          {
            "node": "delete event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get professional": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "get service": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "get client": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 2
          }
        ],
        []
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "error? 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get email 1": {
      "main": [
        [
          {
            "node": "delete email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action 1": {
      "main": [
        [
          {
            "node": "add to calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "return context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete email": {
      "main": [
        [
          {
            "node": "return context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "confirmation email": {
      "main": [
        [
          {
            "node": "return context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update email": {
      "main": [
        [
          {
            "node": "return context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "final return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get client 1": {
      "main": [
        [
          {
            "node": "get by client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by client": {
      "main": [
        [
          {
            "node": "pre-context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "get by id": {
      "main": [
        [
          {
            "node": "pre-context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "id?": {
      "main": [
        [
          {
            "node": "get by id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get client 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pre-context": {
      "main": [
        [
          {
            "node": "error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appointment context": {
      "main": [
        [
          {
            "node": "action 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return context": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error? 1": {
      "main": [
        [
          {
            "node": "appointment context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error?": {
      "main": [
        [
          {
            "node": "get service",
            "type": "main",
            "index": 0
          },
          {
            "node": "get client",
            "type": "main",
            "index": 0
          },
          {
            "node": "get professional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "13819871-cf95-46c7-88ae-db9be6bd72ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "j71qqEVnWkAMmhB3",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}