workflows/availabilities.json
{
  "name": "availabilities",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "service_id",
              "type": "any"
            },
            {
              "name": "professional_id",
              "type": "any"
            },
            {
              "name": "date",
              "type": "any"
            },
            {
              "name": "requested_start",
              "type": "any"
            },
            {
              "name": "max_suggestions",
              "type": "any"
            },
            {
              "name": "search_days_ahead",
              "type": "any"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        3488
      ],
      "id": "7d870f07-e772-4eda-a43c-25fc849dd327",
      "name": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47280dde-f574-420a-aad5-2f0ab42abf9a",
              "name": "sucess",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "efa277d9-3e4a-4938-a6c4-86420ebd2152",
              "name": "slots",
              "value": "={{ $('aggregate').item.json.slots }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        3488
      ],
      "id": "fc9d2d34-51a6-410e-a897-e0dd4c68175c",
      "name": "sucess"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "professional_id",
              "value": "={{ $('data handler').item.json.data.professional_id }}"
            },
            {
              "name": "service_id",
              "value": "={{ $('data handler').item.json.data.service_id }}"
            },
            {
              "name": "date",
              "value": "={{ $('data handler').item.json.data.date }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        3504
      ],
      "id": "b12020b3-e37f-46f9-bdd8-d398c9337397",
      "name": "get slots",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccd3750-dfb9-40e6-a88d-1c5d12d857b4",
              "name": "data.professional_id",
              "value": "={{ $json.professional_id }}",
              "type": "string"
            },
            {
              "id": "93d4851d-2f2f-4717-98c2-9927bf04763a",
              "name": "data.service_id",
              "value": "={{ $json.service_id }}",
              "type": "string"
            },
            {
              "id": "afcf3dc6-ac01-49f1-8423-32e554ff77c7",
              "name": "data.date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "9e7c7b45-649b-410b-8043-ff9a8db64b88",
              "name": "data.requested_start",
              "value": "={{ String($json.requested_start || '').trim() }}",
              "type": "string"
            },
            {
              "id": "855a93ad-2f0f-42b4-9de9-33b909002322",
              "name": "data.max_suggestions",
              "value": "={{ Number($json.max_suggestions || 3) }}",
              "type": "number"
            },
            {
              "id": "151abb28-a2ba-4e37-9124-19662107f070",
              "name": "data.search_days_ahead",
              "value": "={{ Number($json.search_days_ahead || 7) }}",
              "type": "number"
            },
            {
              "id": "e6f11e62-b572-4ddb-a5fe-7f38833fe05d",
              "name": "data.has_requested_start",
              "value": "={{ !!String($json.requested_start || '').trim() }}",
              "type": "boolean"
            },
            {
              "id": "c58fb11c-cc59-45e3-a817-2fa06e3a5c53",
              "name": "api",
              "value": "={{ {\n  ...$json.api,\n  url: $json.api.url + '/availabilities'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        3488
      ],
      "id": "be1c8e86-0453-4405-b560-15965a2c19b5",
      "name": "data handler"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "slots",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -576,
        3488
      ],
      "id": "ffab22b5-34e3-45f1-a260-bf76d3a11c5c",
      "name": "aggregate"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"id\": \"{{ $execution.id }}\",\n    \"type\": \"business.availability_get_slots\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -800,
        3648
      ],
      "id": "709bdfe3-cae5-4562-a7ec-2457b2843ada",
      "name": "error report 8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b20abb4-d039-4ece-af16-5d865a0a9b4c",
              "leftValue": "={{ $('data handler').item.json.data.has_requested_start }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        3488
      ],
      "id": "f5de7fd0-38e9-4272-b58a-7145c7310b7e",
      "name": "has requested start?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('data handler').item.json.api.url }}/check-and-suggest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "professional_id",
              "value": "={{ Number($('data handler').item.json.data.professional_id) }}"
            },
            {
              "name": "service_id",
              "value": "={{ Number($('data handler').item.json.data.service_id) }}"
            },
            {
              "name": "requested_start",
              "value": "={{ $('data handler').item.json.data.requested_start }}"
            },
            {
              "name": "max_suggestions",
              "value": "={{ Number($('data handler').item.json.data.max_suggestions || 3) }}"
            },
            {
              "name": "search_days_ahead",
              "value": "={{ Number($('data handler').item.json.data.search_days_ahead || 7) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        3184
      ],
      "id": "d71b6acc-f631-45a4-960f-c26b40ba0668",
      "name": "check and suggest",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ce7ff5f-508b-4835-9a5f-cc3c287379f5",
              "name": "sucess",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "1a4ce6d0-b026-46ed-9b3b-e880b262f5cd",
              "name": "mode",
              "value": "check_and_suggest",
              "type": "string"
            },
            {
              "id": "ba8a7ac3-ac61-417d-a5e1-adfeb513a81b",
              "name": "available",
              "value": "={{ $json.available }}",
              "type": "boolean"
            },
            {
              "id": "0d2d61f5-2942-4aff-9424-2bd6bfc74466",
              "name": "reason",
              "value": "={{ $json.reason || '' }}",
              "type": "string"
            },
            {
              "id": "47787ec1-7c32-4f22-b395-7661b060319b",
              "name": "requested_start",
              "value": "={{ $json.requested_start }}",
              "type": "string"
            },
            {
              "id": "a13fddc0-95f7-4352-8613-89f723d11cc8",
              "name": "requested_end",
              "value": "={{ $json.requested_end }}",
              "type": "string"
            },
            {
              "id": "32f90a5b-550e-46f6-9373-b0ec543fbaae",
              "name": "suggestions",
              "value": "={{ $json.suggestions || [] }}",
              "type": "array"
            },
            {
              "id": "8fc3176a-2275-4158-9400-c95c100b213a",
              "name": "requested_slot",
              "value": "={{\n  $json.available\n    ? {\n        start_datetime: $json.requested_start,\n        end_datetime: $json.requested_end,\n        date: String($json.requested_start || '').split('T')[0],\n        slot_time: String($json.requested_start || '').split('T')[1]?.slice(0, 8)\n      }\n    : null\n}}",
              "type": "object"
            },
            {
              "id": "376eeb02-1065-4dbf-b062-fa9cd82dcf21",
              "name": "slots",
              "value": "={{\n  $json.available\n    ? [\n        {\n          start_datetime: $json.requested_start,\n          end_datetime: $json.requested_end,\n          date: String($json.requested_start || '').split('T')[0],\n          slot_time: String($json.requested_start || '').split('T')[1]?.slice(0, 8)\n        }\n      ]\n    : ($json.suggestions || [])\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        3168
      ],
      "id": "4dbecd6a-1640-46ea-af18-5c7a32a49f26",
      "name": "check suggest success"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"id\": \"{{ $execution.id }}\",\n    \"type\": \"business.availability_check_and_suggest\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -800,
        3328
      ],
      "id": "7c7e3a77-930a-4369-9916-d287d954e62b",
      "name": "error report check and suggest"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "business": {
            "id": 3,
            "name": "Barbearia do Kaiky"
          },
          "service_id": "1",
          "professional_id": "2",
          "date": "2026-05-11",
          "api": {
            "url": "http://beautyflow-api:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3NzgxNzY5ODl9.6FoKA-TiUgxb2_JN9M5CiV3n4jiKDm87ANaSHDE11QY",
            "evo_instance": "sale_instance"
          }
        }
      }
    ]
  },
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "has requested start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has requested start?": {
      "main": [
        [
          {
            "node": "check and suggest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check and suggest": {
      "main": [
        [
          {
            "node": "check suggest success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report check and suggest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get slots": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f89a12dc-dd78-4fad-9b47-cdf4d724d5be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "Mt6dV4M7Z3aoPihh",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}