workflows/clients.json
{
  "name": "clients",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af50a371-7f3b-4553-bd81-ab0f8d95ac27",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "dea249c2-d33e-4d8d-8de6-6ec86bfac133",
              "name": "business",
              "value": "={{ $json.business }}",
              "type": "object"
            },
            {
              "id": "fb5e9190-2904-431d-bee5-ad2bfe2d2bbb",
              "name": "client",
              "value": "={{ { \n  ...$json.client,\n  \"phone\": $json.client.remote_jid.split('@')[0]\n} }}",
              "type": "object"
            },
            {
              "id": "1cb79adc-6592-4d1f-93c1-fe8d78d54465",
              "name": "api",
              "value": "={{ {\n  ...$json.api,\n  url: $json.api.url + '/clients'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        4432
      ],
      "id": "727c5e5d-cd66-466d-bf07-63716312481d",
      "name": "data handler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('data handler').item.json.api.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('data handler').item.json.client.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        4432
      ],
      "id": "6be20eaf-a5dc-484f-ad08-710e438b6da1",
      "name": "post client",
      "retryOnFail": false,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "ultimateclash22@gmail.com",
        "subject": "=NOVO CLIENTE CADASTRADO ({{ $('data handler').item.json.business.name }})",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Cliente Cadastrado</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;\">\n  \n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:20px 0;\">\n    <tr>\n      <td align=\"center\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 4px 12px rgba(0,0,0,0.08);\">\n          \n          <!-- Header -->\n          <tr>\n            <td style=\"background:linear-gradient(90deg, #4CAF50, #2E7D32); padding:20px; color:#ffffff;\">\n              <h2 style=\"margin:0; font-size:22px;\">Novo Cliente Cadastrado</h2>\n            </td>\n          </tr>\n\n          <!-- Body -->\n          <tr>\n            <td style=\"padding:24px;\">\n              <p style=\"margin:0 0 16px 0; font-size:16px; color:#333;\">\n                Bom dia,\n              </p>\n\n              <p style=\"margin:0 0 20px 0; font-size:15px; color:#555;\">\n                Um novo cliente foi cadastrado com sucesso. Confira os detalhes abaixo:\n              </p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n                <tr>\n                  <td style=\"padding:10px; background:#f9fafb; border-radius:6px;\">\n                    <strong>ID:</strong><br>\n                    <span style=\"color:#333;\">{{ $('post client').item.json.id }}</span>\n                  </td>\n                </tr>\n\n                <tr><td style=\"height:10px;\"></td></tr>\n\n                <tr>\n                  <td style=\"padding:10px; background:#f9fafb; border-radius:6px;\">\n                    <strong>Nome do WhatsApp:</strong><br>\n                    <span style=\"color:#333;\">{{ $('post client').item.json.name_wpp }}</span>\n                  </td>\n                </tr>\n\n                <tr><td style=\"height:10px;\"></td></tr>\n\n                <tr>\n                  <td style=\"padding:10px; background:#f9fafb; border-radius:6px;\">\n                    <strong>Telefone:</strong><br>\n                    <span style=\"color:#333;\">{{ '+' + $('post client').item.json.phone.slice(0,2) + ' (' + $('post client').item.json.phone.slice(2,4) + ') ' + $('post client').item.json.phone.slice(4,9) + '-' + $('post client').item.json.phone.slice(9) }}</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"padding:16px; text-align:center; font-size:12px; color:#888;\">\n              Este é um email automático. Não responda.\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "ccList": "ultimateclash22@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        4416
      ],
      "id": "db4d5689-8fca-4559-9b70-3c03bda6f892",
      "name": "send confirmation",
      "webhookId": "e8ec7ce4-9236-49af-8044-dadc77fe087a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "843f299b-1f64-4ed7-8ba5-385c36bb9ad9",
              "name": "client.id",
              "value": "={{ $('post client').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f2a3bf0d-532a-4e19-a199-df449fcd2e4e",
              "name": "client.name",
              "value": "={{ $('post client').item.json.name }}",
              "type": "string"
            },
            {
              "id": "f0e17e45-87fb-4f45-9c60-69b65f2eadca",
              "name": "client.phone",
              "value": "={{ $('post client').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        4400
      ],
      "id": "c03d80bd-2b6a-4a2a-a872-f41da0aadd7b",
      "name": "client data"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "client",
              "type": "object"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        4432
      ],
      "id": "7ce5c540-e40c-4d9b-af8b-253c7b2f0958",
      "name": "webhook"
    },
    {
      "parameters": {
        "text": "={{ $('data handler').item.json.client.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "client_name",
              "description": "Nome do Cliente"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        48,
        4064
      ],
      "id": "e204cb95-fd3e-462c-81da-6aa3144cb41d",
      "name": "name extractor",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        4160
      ],
      "id": "75933de1-a4ae-463f-9201-f1ba0344ffd0",
      "name": "name extractor model",
      "credentials": {
        "googlePalmApi": {
          "id": "gJPi0I2fte5mSB4B",
          "name": "Google Gemini Credential"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c270718b-55cf-49c9-a9da-cb4c513954d9",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "name",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NAME"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "=post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f36d2e87-9752-4114-860a-661f811b059e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8bd0c802-4fd6-48de-9f76-2d70d132f3f9",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -592,
        4416
      ],
      "id": "28cfd567-d60b-48e1-a94b-801f5b8f7055",
      "name": "switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "594491a3-525c-4e77-9fa0-394be8efbd60",
              "leftValue": "={{ $('name extractor').item.json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        4048
      ],
      "id": "de5a1a89-3702-4dc4-a576-24d29b7747a4",
      "name": "name in message?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        4272
      ],
      "id": "9a7b0aa7-b981-4d81-8153-338f05e8ff96",
      "name": "split out"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.chat_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        4000
      ],
      "id": "f4159e9c-8c90-4378-9155-1f0f2519a30a",
      "name": "delete buffer",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        4272
      ],
      "id": "c2def58b-87d0-4949-82a3-8a45a49657c6",
      "name": "loop response"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('data handler').item.json.api.evo_instance }}",
        "remoteJid": "={{ $('data handler').item.json.client.remote_jid }}",
        "messageText": "={{ $('typing delay').item.json.response }}",
        "options_message": {
          "delay": "={{ $('typing delay').item.json.delay }}"
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1984,
        4336
      ],
      "id": "6e6235da-593a-4237-b52e-79fb3c98910a",
      "name": "send response",
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "evolutionApi": {
          "id": "vlj9dRMZQEffBnHW",
          "name": "Evolution Credential - Kaiky"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first();\n\nlet text = data.json.response;\n\nif (Array.isArray(text)) {\n  text = text.join(' ');\n}\n\ntext = String(text || '');\n\nconst charCount = text.length;\n\nconst milliseconds = Math.max(\n  400,\n  Math.min(3000, Math.round((charCount / 40) * 1000))\n);\n\nreturn [\n  {\n    json: {\n      ...data.json,\n      delay: milliseconds,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        4336
      ],
      "id": "d25c993c-7fea-4d48-a713-ebb82a55f721",
      "name": "typing delay"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3072,
        3984
      ],
      "id": "5483b1e3-128d-417e-af0e-d5e2dadd8096",
      "name": "end"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_phone",
              "value": "={{ $('data handler').item.json.client.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        4080
      ],
      "id": "d9a1dae6-e451-46b5-bd65-adea186c0a8e",
      "name": "get client 1",
      "retryOnFail": true,
      "notesInFlow": false,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.state",
        "value": "awaiting_name"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2224,
        4256
      ],
      "id": "591b0328-7f5a-471f-bab8-2568a4c1e635",
      "name": "set pending state",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p2z28Yex6r93HRT0",
          "mode": "list",
          "cachedResultUrl": "/workflow/p2z28Yex6r93HRT0",
          "cachedResultName": "clients"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "name",
            "business": "={{ {\n  id: $('data handler').item.json.business.id,\n  name: $('data handler').item.json.business.name\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid,\n  message: $('data handler').item.json.client.message\n} }}",
            "api": "={{ {\n  url: $('data handler').item.json.api.url.replace(/\\/clients\\/?$/, ''),\n  token: $('data handler').item.json.api.token,\n  evo_instance: $('data handler').item.json.api.evo_instance\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "api",
              "displayName": "api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        4816
      ],
      "id": "9724b5ec-69b2-43e6-9287-429a890bbbcf",
      "name": "client name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e5d34e1-6d10-49b7-990f-6aa1750cd4f0",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        4752
      ],
      "id": "255c5de2-3ad9-49a3-9f08-417fc061c259",
      "name": "name?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "69011c1c-c032-4825-94dc-12f01e7f144f",
              "leftValue": "={{ $('get client 2').item.json.error.status }}",
              "rightValue": "404",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        5088
      ],
      "id": "3776ef4a-98f9-498c-82d9-ccdcc0add4e1",
      "name": "404?"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_phone",
              "value": "={{ $('data handler').item.json.client.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        5072
      ],
      "id": "6231be21-4d8b-4683-9590-7a3a487ab39d",
      "name": "get client 2",
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p2z28Yex6r93HRT0",
          "mode": "list",
          "cachedResultUrl": "/workflow/p2z28Yex6r93HRT0",
          "cachedResultName": "clients"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "post",
            "business": "={{ {\n  id: $('data handler').item.json.business.id,\n  name: $('data handler').item.json.business.name\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid,\n  message: $('data handler').item.json.client.message\n} }}",
            "api": "={{ {\n  url: $('data handler').item.json.api.url.replace(/\\/clients\\/?$/, ''),\n  token: $('data handler').item.json.api.token,\n  evo_instance: $('data handler').item.json.api.evo_instance\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "api",
              "displayName": "api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        4976
      ],
      "id": "de231101-071d-458b-925f-1f3d0898955b",
      "name": "post client 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe295157-ce2f-4823-8294-6217aa7be342",
              "name": "client",
              "value": "={{ $json.removeField('business_id') }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        4736
      ],
      "id": "3b5735af-d72f-452c-ac63-758e4e79d3e3",
      "name": "sucess"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('data handler').item.json.client.phone }}.client_context",
        "value": "={{ JSON.stringify({\n  id: $('get client 2').item.json.id,\n  name: $('get client 2').item.json.name,\n  phone: $('get client 2').item.json.phone\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        336,
        4832
      ],
      "id": "786ec55e-0743-48f0-aab8-303eac6bfd48",
      "name": "push context 2",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        4768
      ],
      "id": "1697e559-d3a1-4cba-8a5d-321184f82536",
      "name": "has data?"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.{{ $('data handler').item.json.client.phone }}.client_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -288,
        4784
      ],
      "id": "1a3f403e-ac85-4819-9c6f-b27c84190f33",
      "name": "get context",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const client = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: client.id,\n        name: client.name,\n        phone: client.phone,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        4752
      ],
      "id": "0a0dee1e-47ce-4f4b-99f4-40148a032ba1",
      "name": "convert"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('data handler').item.json.api.url }}/{{ $('get client 1').item.json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('name extractor').item.json.output.client_name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        3952
      ],
      "id": "4530b592-a299-4a83-8e81-e6a8c53417d8",
      "name": "add name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1312,
        3664
      ],
      "id": "7c62ea12-7c04-41db-bf69-d98203fc6a6c",
      "name": "split out1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.state"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        3648
      ],
      "id": "5ac134ec-1ddd-4de1-8346-5f2637875ae1",
      "name": "delete pending",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p2z28Yex6r93HRT0",
          "mode": "list",
          "cachedResultUrl": "/workflow/p2z28Yex6r93HRT0",
          "cachedResultName": "clients"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "name",
            "business": "={{ {\n  id: $('data handler').item.json.business.id,\n  name: $('data handler').item.json.business.name\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid,\n  message: $('data handler').item.json.client.message\n} }}",
            "api": "={{ {\n  url: $('data handler').item.json.api.url.replace(/\\/clients\\/?$/, ''),\n  token: $('data handler').item.json.api.token,\n  evo_instance: $('data handler').item.json.api.evo_instance\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "api",
              "displayName": "api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        4400
      ],
      "id": "46486d1b-4b75-4162-8b3f-f08d29954e70",
      "name": "client name 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1536,
        3664
      ],
      "id": "07d63279-54af-4600-b8c1-d49e49f14935",
      "name": "loop response 1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first();\n\nlet text = data.json.response;\n\nif (Array.isArray(text)) {\n  text = text.join(' ');\n}\n\ntext = String(text || '');\n\nconst charCount = text.length;\n\nconst milliseconds = Math.max(\n  400,\n  Math.min(3000, Math.round((charCount / 40) * 1000))\n);\n\nreturn [\n  {\n    json: {\n      ...data.json,\n      delay: milliseconds,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        3728
      ],
      "id": "f96e3488-e6c8-4af0-b833-e79f908c3573",
      "name": "typing delay 1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('data handler').item.json.api.evo_instance }}",
        "remoteJid": "={{ $('data handler').item.json.client.remote_jid }}",
        "messageText": "={{ $('typing delay 1').item.json.response }}",
        "options_message": {
          "delay": "={{ $('typing delay 1').item.json.delay }}"
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1952,
        3728
      ],
      "id": "5b43e661-4aaf-4791-b727-caf753611511",
      "name": "send response 1",
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "evolutionApi": {
          "id": "vlj9dRMZQEffBnHW",
          "name": "Evolution Credential - Kaiky"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43099950-bb55-4647-830f-b0aa10e7d3c3",
              "name": "response",
              "value": "={{\n`Perfeito!\nAnotei aqui ${$('add name').item.json.name}\nAgora para continuarmos, poderia me confirmar qual serviço você deseja mesmo?`\n.split(/\\n+/)\n.filter(Boolean)\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        3936
      ],
      "id": "b88c8ff1-b779-4319-a6d1-9fee1c88b67e",
      "name": "response 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43099950-bb55-4647-830f-b0aa10e7d3c3",
              "name": "response",
              "value": "={{ \"Claro!\\nPoderia me confirmar seu nome?\\nAssim podemos continuar certinho! 😊\".split(/\\n+/).filter(Boolean) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        4272
      ],
      "id": "ffb7d142-d081-4e12-a1a6-c7ca9acb39e8",
      "name": "response"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.chat_memory",
        "messageData": "={{ JSON.stringify({\n  type: \"human\",\n  data: {\n    content: $('data handler').item.json.client.message,\n    additional_kwargs: {},\n    response_metadata: {}\n  }\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2384,
        3632
      ],
      "id": "fc368cd6-3cb7-48fd-a0fd-964d7ca2c9ce",
      "name": "push human memory",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.chat_memory",
        "messageData": "={{ JSON.stringify({\n  type: \"human\",\n  data: {\n    content: $('data handler').item.json.client.message,\n    additional_kwargs: {},\n    response_metadata: {}\n  }\n}) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2448,
        4240
      ],
      "id": "dd90f1ca-48ae-4c1d-8fba-f4e34f13f7ee",
      "name": "push human memory 1",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.chat_memory",
        "messageData": "={{ (() => { \n  const source = $('response 1').first().json.response;\n\n  return JSON.stringify({\n    type: \"ai\",\n    data: {\n      content: JSON.stringify({\n        output: {\n          agent_output: source || [],\n          date_time: new Date().toISOString(),\n          appointment_id: null\n        }\n      }),\n      tool_calls: [],\n      invalid_tool_calls: [],\n      additional_kwargs: {},\n      response_metadata: {}\n    }\n  });\n})() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2592,
        3616
      ],
      "id": "022e166d-936a-4f7f-8587-65ea90211e3d",
      "name": "push ai memory",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=beautyflow_bot.{{ $('data handler').item.json.client.remote_jid }}.chat_memory",
        "messageData": "={{ (() => { \n  const source = $('response').first().json.response;\n\n  return JSON.stringify({\n    type: \"ai\",\n    data: {\n      content: JSON.stringify({\n        output: {\n          agent_output: source || [],\n          date_time: new Date().toISOString(),\n          appointment_id: null\n        }\n      }),\n      tool_calls: [],\n      invalid_tool_calls: [],\n      additional_kwargs: {},\n      response_metadata: {}\n    }\n  });\n})() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2688,
        4224
      ],
      "id": "68f2a511-c2dc-42c5-8766-ce6fdf899d18",
      "name": "push ai memory 1",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.auth\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -976,
        4688
      ],
      "id": "7a1643a5-95c0-41eb-96a6-9897b84bff20",
      "name": "error report 11"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.get_timeout\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        4688
      ],
      "id": "a55f6c62-743e-4bd5-a273-82f358ad5798",
      "name": "error report 20"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.redis.context\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -288,
        4928
      ],
      "id": "c868019f-6724-4437-8a70-5860d02cba53",
      "name": "error report 12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        4976
      ],
      "id": "766f23a4-91ab-47bc-89a3-9bf732ac9ea1",
      "name": "error report 21"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_client\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        976,
        5152
      ],
      "id": "cb53483b-7bf9-472e-8ed7-f0f1e1c46a77",
      "name": "error report 13"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.post_client\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -288,
        4576
      ],
      "id": "91c3a79c-a77b-4873-b430-c0f823af8c51",
      "name": "error report "
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"external.gmail\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        4560
      ],
      "id": "2485132c-549f-411b-b3ff-e533f8cd0724",
      "name": "error report 22"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_client\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -288,
        4224
      ],
      "id": "6385bd0b-1e6e-4d11-b0a2-0f6356c43452",
      "name": "error report 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"external.ai.name extractor\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        4208
      ],
      "id": "d5cf1bca-17ee-4184-89ce-addbbcdbc1fb",
      "name": "error report 23"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.client_name\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        4096
      ],
      "id": "4d0f51ba-8f74-452c-98d2-99aba46f957a",
      "name": "error report 14"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.buffer\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        4144
      ],
      "id": "13557bba-37fe-4c28-8b5d-524c52680770",
      "name": "error report 24"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.evo.send_message\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1984,
        4480
      ],
      "id": "0ef5cfaa-2dda-46c0-9851-5322593ea399",
      "name": "error report 15"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.redis.set_pending\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2224,
        4400
      ],
      "id": "205fd180-7a63-41a1-87dc-96128d5f1fd6",
      "name": "error report 16"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.push_memory\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2688,
        4368
      ],
      "id": "12e9611d-9348-4e62-aeea-8ff350636473",
      "name": "error report 25"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.push_memory\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2592,
        3760
      ],
      "id": "b9392d81-62f3-47f5-970c-21cce2f8d5d8",
      "name": "error report 26"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.redis.delete_pending\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2176,
        3792
      ],
      "id": "87a83466-ddd0-4bb2-88bf-ccb201e5abf1",
      "name": "error report 17"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.evo.send_message\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1952,
        3872
      ],
      "id": "7a48420f-783a-4ef5-a7d3-c5a0a5dd1342",
      "name": "error report 18"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "action": "name",
          "business": {
            "id": 3,
            "name": null
          },
          "client": {
            "remote_jid": "5511991549118@s.whatsapp.net",
            "message": "sim"
          },
          "api": {
            "url": "http://beautyflow_backend:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3NzkyMjMwMTN9.c4JmCNP_ipZy8wqMqPPhqRU0l5wWT8_5ih2dOu3V0q8",
            "evo_instance": "sale_instance"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "data handler": {
      "main": [
        [
          {
            "node": "switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post client": {
      "main": [
        [
          {
            "node": "send confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send confirmation": {
      "main": [
        [
          {
            "node": "client data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name extractor": {
      "main": [
        [
          {
            "node": "name in message?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name extractor model": {
      "ai_languageModel": [
        [
          {
            "node": "name extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "switch": {
      "main": [
        [
          {
            "node": "get client 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name in message?": {
      "main": [
        [
          {
            "node": "add name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split out": {
      "main": [
        [
          {
            "node": "loop response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete buffer": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop response": {
      "main": [
        [
          {
            "node": "set pending state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typing delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send response": {
      "main": [
        [
          {
            "node": "loop response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing delay": {
      "main": [
        [
          {
            "node": "send response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end": {
      "main": [
        []
      ]
    },
    "get client 1": {
      "main": [
        [
          {
            "node": "name extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set pending state": {
      "main": [
        [
          {
            "node": "push human memory 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name?": {
      "main": [
        [
          {
            "node": "sucess",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "client name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404?": {
      "main": [
        [
          {
            "node": "post client 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get client 2": {
      "main": [
        [
          {
            "node": "push context 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 2": {
      "main": [
        [
          {
            "node": "name?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data?": {
      "main": [
        [
          {
            "node": "convert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get client 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context": {
      "main": [
        [
          {
            "node": "has data?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert": {
      "main": [
        [
          {
            "node": "name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "client data": {
      "main": [
        [
          {
            "node": "client name 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "client name": {
      "main": [
        []
      ]
    },
    "post client 1": {
      "main": [
        []
      ]
    },
    "add name": {
      "main": [
        [
          {
            "node": "response 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split out1": {
      "main": [
        [
          {
            "node": "loop response 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete pending": {
      "main": [
        [
          {
            "node": "push human memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "client name 1": {
      "main": [
        []
      ]
    },
    "loop response 1": {
      "main": [
        [
          {
            "node": "delete pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typing delay 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing delay 1": {
      "main": [
        [
          {
            "node": "send response 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send response 1": {
      "main": [
        [
          {
            "node": "loop response 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response 1": {
      "main": [
        [
          {
            "node": "delete buffer",
            "type": "main",
            "index": 0
          },
          {
            "node": "split out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response": {
      "main": [
        [
          {
            "node": "split out",
            "type": "main",
            "index": 0
          },
          {
            "node": "delete buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push human memory": {
      "main": [
        [
          {
            "node": "push ai memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push human memory 1": {
      "main": [
        [
          {
            "node": "push ai memory 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push ai memory": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push ai memory 1": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 21": {
      "main": [
        [
          {
            "node": "name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 22": {
      "main": [
        [
          {
            "node": "client data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 23": {
      "main": [
        [
          {
            "node": "name in message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 24": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 25": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 26": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "fd071be4-264a-491c-881d-aced19ef9458",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "p2z28Yex6r93HRT0",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}