workflows/error.json
{
  "name": "error",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acb5487b-2d8a-431b-922d-da00f923b8fe",
              "name": "error",
              "value": "={{ $json.execution.error.context.metadata.error }}",
              "type": "object"
            },
            {
              "id": "b2341770-24f7-4cc7-b68d-95d0a76615e4",
              "name": "client",
              "value": "={{ $json.execution.error.context.metadata.client }}",
              "type": "object"
            },
            {
              "id": "9aa47863-b845-4851-ac21-8f41b73466af",
              "name": "business",
              "value": "={{ $json.execution.error.context.metadata.business }}",
              "type": "object"
            },
            {
              "id": "fbc577f0-e39a-4e8d-bb14-89e526927a96",
              "name": "api",
              "value": "={{ $json.execution.error.context.metadata.api }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        256
      ],
      "id": "f97310f9-778b-4052-a10c-0ce185f73730",
      "name": "data handler"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        272,
        160
      ],
      "id": "cb4ac57c-adc2-431d-9c29-e22248dab236",
      "name": "error trigger"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"error\": {\n    \"id\": \"\",\n    \"type\": \"\",\n    \"node\": \"\",\n    \"code\": \"\",\n    \"description\": \"\",\n    \"operation\": \"\",\n    \"severity\": \"\"\n  },\n  \"business\": {\n    \"id\": \"\",\n    \"name\": \"\",\n    \"phone\": \"\"\n  },\n  \"client\": {\n    \"remote_jid\": \"\",\n    \"message_id\": \"\"\n  }\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "call trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('normalize error').item.json.normalized.notifyCustomer }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7fc06c7c-e361-4d75-a9eb-0935326e89b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CLIENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee786165-0cb2-468b-a7c4-06b3ffbdbd89",
                    "leftValue": "={{ $('normalize error').item.json.normalized.notifyOwner }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BUSINESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40ce48eb-f273-4454-a8d5-c61bd4f8eb74",
                    "leftValue": "={{ $('normalize error').item.json.normalized.notifyDev }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DEV"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        944,
        240
      ],
      "id": "b2d7f1cd-d205-4da4-a30b-3895740592d3",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst error = input.error || {};\nconst business = input.business || {};\nconst client = input.client || {};\n\nconst type = String(error.type || 'unknown').trim();\n\nconst policies = {\n  'internal.api.auth': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Tive uma instabilidade no sistema agora e não consegui continuar o atendimento. A equipe já vai verificar.'\n  },\n\n  'internal.api.get_business': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Não consegui acessar os dados da empresa agora. A equipe já vai verificar.'\n  },\n  \n  'internal.api.get_service': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.post_client': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.client_name': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.get_client': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.get_professional': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.get_context': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n  \n  'internal.api.get_appointment': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Não consegui verificar seus agendamentos. Vou pedir para a equipe verificar e te retornar. Gostaria de mais alguma coisa?'\n  },\n  \n  'internal.api.complete_appointments': {\n    severity: 'low',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n\n  'internal.redis.keys': {\n    severity: 'medium',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n  \n  'internal.redis.buffer': {\n    severity: 'high',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Tive uma instabilidade para recuperar a etapa anterior. Poderia me confirmar novamente o que deseja fazer?'\n  },\n  \n  'internal.redis.context': {\n    severity: 'medium',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n  \n  'internal.redis.set_pending': {\n    severity: 'high',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Tive uma instabilidade para recuperar a etapa anterior. Poderia me confirmar novamente o que deseja fazer?'\n  },\n  \n  'internal.redis.get_pending': {\n    severity: 'high',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Tive uma instabilidade para recuperar a etapa anterior. Poderia me confirmar novamente o que deseja fazer?'\n  },\n  \n  'internal.redis.get_timeout': {\n    severity: 'high',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Tive uma instabilidade para recuperar a etapa anterior. Poderia me confirmar novamente o que deseja fazer?'\n  },\n  \n  'internal.redis.set_timeout': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n\n  'internal.redis.delete_pending': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n\n  'internal.redis.get_memory': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n\n  'internal.redis.push_memory': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n\n  'external.evo.get_base64': {\n    severity: 'low',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Não consegui processar esse áudio agora. Poderia me mandar em texto?'\n  },\n\n  'external.evo.send_message': {\n    severity: 'critical',\n    notifyCustomer: false,\n    notifyOwner: true,\n    notifyDev: true\n  },\n\n  'external.ai.transcription': {\n    severity: 'low',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Não consegui entender o áudio agora. Poderia me mandar em texto?'\n  },\n  \n  'external.ai.text_classifier': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n  \n  'external.ai.name_extractor': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n\n  'internal.ai.agent': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Desculpa, tive uma instabilidade aqui. Poderia me mandar novamente?'\n  },\n\n  'business.availability_get_slots': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: false,\n    notifyDev: true,\n    customerMessage: 'Não consegui consultar os horários disponíveis agora. Poderia tentar novamente em instantes?'\n  },\n\n  'business.appointment_create': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Não consegui confirmar o agendamento com segurança agora. Vou pedir para a equipe verificar e te retornar.'\n  },\n\n  'business.appointment_update': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Não consegui confirmar a remarcação com segurança agora. Vou pedir para a equipe verificar e te retornar.'\n  },\n\n  'business.appointment_cancel': {\n    severity: 'critical',\n    notifyCustomer: true,\n    notifyOwner: true,\n    notifyDev: true,\n    customerMessage: 'Não consegui confirmar o cancelamento com segurança agora. Vou pedir para a equipe verificar e te retornar.'\n  },\n\n  'external.calendar': {\n    severity: 'high',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  },\n\n  'external.gmail': {\n    severity: 'medium',\n    notifyCustomer: false,\n    notifyOwner: false,\n    notifyDev: true\n  }\n};\n\nconst fallbackPolicy = {\n  severity: 'medium',\n  notifyCustomer: true,\n  notifyOwner: false,\n  notifyDev: true,\n  customerMessage: 'Tive uma instabilidade aqui. Pode tentar novamente em instantes?'\n};\n\nconst policy = policies[type] || fallbackPolicy;\n\nfunction valueOrFallback(value, fallback = 'não informado') {\n  return value === undefined || value === null || value === ''\n    ? fallback\n    : String(value);\n}\n\nfunction isEvolutionError(type, error) {\n  const normalizedType = String(type || '').toLowerCase();\n  const node = String(error.node || '').toLowerCase();\n\n  return (\n    normalizedType.includes('evo') ||\n    normalizedType.includes('evolution') ||\n    node.includes('evo') ||\n    node.includes('evolution') ||\n    node.includes('send response') ||\n    node.includes('get base64')\n  );\n}\n\nfunction buildOwnerMessage({ type, error, business, client, policy }) {\n  if (!policy.notifyOwner) return '';\n\n  if (isEvolutionError(type, error)) return '';\n\n  const businessName = valueOrFallback(business.name || business.business_name, '');\n  const clientPhone = valueOrFallback(\n    client.phone ||\n    client.remote_jid ||\n    client.client_remote_jid ||\n    business.client_remote_jid,\n    'cliente não identificado'\n  );\n\n  const errorNode = valueOrFallback(error.node);\n  const errorCode = valueOrFallback(error.code);\n  const executionId = valueOrFallback(error.id || error.execution);\n  const description = valueOrFallback(error.description || error.message);\n\n  const baseFooter =\n    `\\n\\nDetalhes para suporte:` +\n    `\\n- Tipo: ${type}` +\n    `\\n- Node: ${errorNode}` +\n    `\\n- Código: ${errorCode}` +\n    `\\n- Execução: ${executionId}` +\n    `\\n- Cliente: ${clientPhone}` +\n    `\\n- Erro: ${description}`;\n\n  const messages = {\n    'internal.api.auth':\n      `⚠️ Atenção, ${businessName}.\\n\\nO assistente teve uma falha de autenticação e pode não conseguir atender os clientes neste momento. Nossa equipe técnica precisa verificar o acesso ao sistema.`,\n    \n    'internal.redis.set_timeout':\n      `⚠️ Atenção, ${businessName}.\\n\\nO assistente teve uma falha ao tranferir a conversa para o atendimento humano. Nossa equipe técnica já foi avisada e irá verificar o sistema.`,\n\n    'internal.api.business_get':\n      `⚠️ Atenção, ${businessName}.\\n\\nO assistente não conseguiu carregar os dados da empresa. Alguns atendimentos podem ficar indisponíveis até a equipe técnica verificar.`,\n\n    'internal.api.client_create':\n      `⚠️ Atenção, ${businessName}.\\n\\nUm cliente tentou iniciar atendimento ou agendamento, mas o assistente não conseguiu criar o cadastro com segurança. Pode ser necessário verificar manualmente e responder o cliente.`,\n\n    'business.appointment_create':\n      `⚠️ Atenção, ${businessName}.\\n\\nUm cliente tentou fazer um agendamento, mas o assistente não conseguiu confirmar a criação com segurança.\\n\\nAntes de responder o cliente, verifique manualmente se o agendamento foi criado para evitar duplicidade.`,\n\n    'business.appointment_update':\n      `⚠️ Atenção, ${businessName}.\\n\\nUm cliente tentou remarcar um agendamento, mas o assistente não conseguiu confirmar a alteração com segurança.\\n\\nAntes de responder o cliente, verifique manualmente a agenda para confirmar se a remarcação aconteceu.`,\n\n    'business.appointment_cancel':\n      `⚠️ Atenção, ${businessName}.\\n\\nUm cliente tentou cancelar um agendamento, mas o assistente não conseguiu confirmar o cancelamento com segurança.\\n\\nAntes de responder o cliente, verifique manualmente se o agendamento foi cancelado.`,\n\n    'external.calendar_sync':\n      `⚠️ Atenção, ${businessName}.\\n\\nUm agendamento pode ter sido salvo no sistema, mas houve falha ao sincronizar com o calendário. Verifique se a agenda externa precisa ser atualizada manualmente.`\n  };\n\n  const message =\n    messages[type] ||\n    `⚠️ Atenção, ${businessName}.\\n\\nO assistente encontrou uma falha que pode exigir verificação manual.`;\n\n  return message + baseFooter;\n}\n\nconst ownerMessage = buildOwnerMessage({\n  type,\n  error,\n  business,\n  client,\n  policy\n});\n\nreturn [\n  {\n    json: {\n      error,\n      business,\n      client,\n      policy: {\n        ...policy,\n        ownerMessage\n      },\n      normalized: {\n        type,\n        severity: policy.severity,\n        notifyCustomer: policy.notifyCustomer,\n        notifyOwner: policy.notifyOwner,\n        notifyDev: policy.notifyDev,\n        customerMessage: policy.customerMessage || '',\n        ownerMessage\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        256
      ],
      "id": "2b6ff9a7-aa6d-4f6d-a198-9f70eea5a69d",
      "name": "normalize error"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        -48
      ],
      "id": "7ac7002e-2277-4ef6-ad23-9144b8f88e7a",
      "name": "split out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1616,
        -48
      ],
      "id": "9e613170-b75f-4f96-ae22-7e90e5d4869c",
      "name": "loop response"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('data handler').first().json.api.evo_instance }}",
        "remoteJid": "={{ $('data handler').first().json.client.remote_jid }}",
        "messageText": "={{ $('typing delay').item.json.response }}",
        "options_message": {
          "delay": "={{ $('typing delay').item.json.delay }}"
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2032,
        0
      ],
      "id": "2ffc3e86-0cc1-4acc-a3e0-419953f9f29d",
      "name": "send response",
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "evolutionApi": {
          "id": "vlj9dRMZQEffBnHW",
          "name": "Evolution Credential - Kaiky"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first();\n\nlet text = data.json.response;\n\nif (Array.isArray(text)) {\n  text = text.join(' ');\n}\n\ntext = String(text || '');\n\nconst charCount = text.length;\n\nconst milliseconds = Math.max(\n  400,\n  Math.min(3000, Math.round((charCount / 40) * 1000))\n);\n\nreturn [\n  {\n    json: {\n      ...data.json,\n      delay: milliseconds,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        0
      ],
      "id": "fd073df6-af5a-4f80-badf-e5ee8ac5d7b4",
      "name": "typing delay"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('data handler').first().json.api.evo_instance }}",
        "remoteJid": "={{ $('data handler').first().json.business.phone }}@s.whatsapp.net\n",
        "messageText": "={{ $('business reponse').item.json.response }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        304
      ],
      "id": "9ff39b25-dcce-42b8-9a17-9803b7cc6cad",
      "name": "send response1",
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "evolutionApi": {
          "id": "vlj9dRMZQEffBnHW",
          "name": "Evolution Credential - Kaiky"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43099950-bb55-4647-830f-b0aa10e7d3c3",
              "name": "response",
              "value": "={{ $('normalize error').item.json.normalized.customerMessage.split(/\\n\\n+/).filter(Boolean) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -48
      ],
      "id": "88c2e705-3278-4cc5-b5ba-c5e811dfaad9",
      "name": "client reponse"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43099950-bb55-4647-830f-b0aa10e7d3c3",
              "name": "response",
              "value": "={{ $('normalize error').item.json.normalized.ownerMessage.split(/\\n\\n+/).filter(Boolean) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        256
      ],
      "id": "68edb71b-6ac9-4a0d-bc4d-32fe2c5e6a28",
      "name": "business reponse"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43099950-bb55-4647-830f-b0aa10e7d3c3",
              "name": "response",
              "value": "={{\n[\n  '🚨 ERRO DETECTADO',\n  '',\n  '📌 Dados do erro',\n  `ID: ${$json.error?.id || 'não informado'}`,\n  `Tipo: ${$json.error?.type || 'não informado'}`,\n  `Node: ${$json.error?.node || 'não informado'}`,\n  `Código: ${$json.error?.code || 'não informado'}`,\n  `Descrição: ${$json.error?.description || 'não informado'}`,\n  '',\n  '🏢 Negócio',\n  `Nome: ${$json.business?.name || 'não informado'}`,\n  `Telefone: ${$json.business?.phone || 'não informado'}`,\n  '',\n  '👤 Cliente',\n  `Cliente: ${Object.keys($json.client || {}).length ? JSON.stringify($json.client) : 'cliente não identificado'}`,\n  '',\n  '⚙️ Política',\n  `Severidade: ${$json.policy?.severity || 'não informado'}`,\n  `Notificar cliente: ${$json.policy?.notifyCustomer ? 'sim' : 'não'}`,\n  `Notificar dono: ${$json.policy?.notifyOwner ? 'sim' : 'não'}`,\n  `Notificar dev: ${$json.policy?.notifyDev ? 'sim' : 'não'}`,\n  '',\n  '💬 Mensagem para o cliente',\n  $json.policy?.customerMessage || 'não informado',\n  '',\n  '👑 Mensagem para o dono',\n  $json.policy?.ownerMessage || 'não informado'\n].join('\\n')\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        544
      ],
      "id": "aed2c453-4165-45d7-bd35-4fba01904578",
      "name": "dev reponse"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        256
      ],
      "id": "2767c803-8435-4b4c-9f78-28fb3400ef53",
      "name": "split out 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1616,
        256
      ],
      "id": "378e1c61-1dc1-41fe-8556-bbf2972cc84e",
      "name": "loop response 1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('data handler').first().json.api.evo_instance }}",
        "remoteJid": "5511991549118@s.whatsapp.net",
        "messageText": "={{ $('dev reponse').item.json.response }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1424,
        640
      ],
      "id": "1a1fa6d4-e17e-44cd-8485-42463803acf3",
      "name": "send response 2",
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "credentials": {
        "evolutionApi": {
          "id": "vlj9dRMZQEffBnHW",
          "name": "Evolution Credential - Kaiky"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "ultimateclash22@gmail.com",
        "subject": "ERRO NO FLUXO ",
        "message": "={{\n`\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Erro Detectado</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f4f5; font-family:Arial, Helvetica, sans-serif; color:#18181b;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f5; padding:24px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:12px; overflow:hidden; border:1px solid #e4e4e7;\">\n          \n          <tr>\n            <td style=\"background-color:#dc2626; padding:20px 24px; color:#ffffff;\">\n              <h1 style=\"margin:0; font-size:22px; font-weight:bold;\">\n                🚨 Erro Detectado\n              </h1>\n              <p style=\"margin:8px 0 0; font-size:14px;\">\n                Uma falha crítica foi identificada no atendimento automatizado.\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:24px;\">\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                📌 Dados do erro\n              </h2>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">ID</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.error?.id || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Tipo</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.error?.type || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Node</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.error?.node || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Código</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.error?.code || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Descrição</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.error?.description || 'não informado'}</td>\n                </tr>\n              </table>\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                🏢 Negócio\n              </h2>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Nome</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.business?.name || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Telefone</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.business?.phone || 'não informado'}</td>\n                </tr>\n              </table>\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                👤 Cliente\n              </h2>\n\n              <div style=\"padding:14px; background-color:#f9fafb; border:1px solid #e5e7eb; border-radius:8px; margin-bottom:24px;\">\n                ${Object.keys($json.client || {}).length ? JSON.stringify($json.client) : 'cliente não identificado'}\n              </div>\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                ⚙️ Política\n              </h2>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Severidade</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.policy?.severity || 'não informado'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Notificar cliente</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.policy?.notifyCustomer ? 'Sim' : 'Não'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Notificar dono</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.policy?.notifyOwner ? 'Sim' : 'Não'}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:10px; background-color:#f9fafb; border:1px solid #e5e7eb; font-weight:bold;\">Notificar dev</td>\n                  <td style=\"padding:10px; border:1px solid #e5e7eb;\">${$json.policy?.notifyDev ? 'Sim' : 'Não'}</td>\n                </tr>\n              </table>\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                💬 Mensagem para o cliente\n              </h2>\n\n              <div style=\"padding:16px; background-color:#eff6ff; border-left:4px solid #2563eb; border-radius:8px; margin-bottom:24px; line-height:1.5;\">\n                ${$json.policy?.customerMessage || 'não informado'}\n              </div>\n\n              <h2 style=\"font-size:18px; margin:0 0 12px; color:#18181b;\">\n                👑 Mensagem para o dono\n              </h2>\n\n              <div style=\"padding:16px; background-color:#fff7ed; border-left:4px solid #f97316; border-radius:8px; line-height:1.5; white-space:pre-line;\">\n                ${$json.policy?.ownerMessage || 'não informado'}\n              </div>\n\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background-color:#f9fafb; padding:16px 24px; text-align:center; font-size:12px; color:#71717a;\">\n              E-mail automático de monitoramento do sistema.\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`\n}}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        544
      ],
      "id": "dc7ee0fe-bbb1-4047-87e9-f47d2aa9bc69",
      "name": "send email",
      "webhookId": "c1eda0d1-8bba-4495-9c6d-ac33fdfef9e2",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "KD9KohSq7p0CzQL0",
          "name": "gmail beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        -64
      ],
      "id": "aaf654f2-d161-4f92-af30-ecb8502eda23",
      "name": "error context"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.gmail\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('business context').item.json.id || '' }}\",\n    \"name\": \"{{ $('business context').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1664,
        688
      ],
      "id": "94f8aa60-bdf5-44ca-a1df-660fdf77a022",
      "name": "error report 8"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.evo.send_message\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('business context').item.json.id || '' }}\",\n    \"name\": \"{{ $('business context').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1424,
        784
      ],
      "id": "203b618a-10b2-4102-91f8-385d8bf7b575",
      "name": "error report 9"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.evo.send_message\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('business context').item.json.id || '' }}\",\n    \"name\": \"{{ $('business context').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1840,
        448
      ],
      "id": "75d16694-d222-4271-93f6-7b980edc4e61",
      "name": "error report 10"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"external.evo.send_message\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('business context').item.json.id || '' }}\",\n    \"name\": \"{{ $('business context').item.json.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2032,
        144
      ],
      "id": "79a9ba94-3dbc-42b6-83cc-2b13031f1104",
      "name": "error report "
    }
  ],
  "pinData": {
    "error trigger": [
      {
        "json": {
          "execution": {
            "id": "287230",
            "url": "https://n8n.techlegacy.com.br/workflow/g4OjgQm63Z4K4c3F/executions/287230",
            "error": {
              "level": "error",
              "tags": {},
              "timestamp": 1776703132887,
              "context": {
                "metadata": {
                  "error": {
                    "id": "287230",
                    "type": "internal.api.auth",
                    "node": "get token",
                    "code": "401",
                    "description": "Token inválido ou expirado!"
                  },
                  "business": {
                    "phone": "5511991549118",
                    "name": "Barbearia"
                  }
                }
              },
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "errorType": "errorObject",
                  "errorObject": "={\n  \"error\": {\n    \"id\": \"{{ $execution.id }}\",\n    \"type\": \"internal api\",\n    \"node\": \"get token\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"phone\": \"{{ $json.business.phone }}\"\n  }\n}"
                },
                "type": "n8n-nodes-base.stopAndError",
                "typeVersion": 1,
                "position": [
                  1888,
                  1360
                ],
                "id": "7390bfc2-dd0a-4a18-827a-eef682c20e31",
                "name": "error report"
              },
              "messages": [],
              "message": "Error: {\"error\":{\"id\":\"287230\",\"type\":\"internal api\",\"node\":\"get token\",\"code\":\"401\",\"description\":\"Token inválido ou expirado!\"},\"business\":{\"phone\":\"5511991549118\"}}",
              "stack": "NodeOperationError: Error: {\"error\":{\"id\":\"287230\",\"type\":\"internal api\",\"node\":\"get token\",\"code\":\"401\",\"description\":\"Token inválido ou expirado!\"},\"business\":{\"phone\":\"5511991549118\"}}\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:92:9)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1224:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1672:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2324:11"
            },
            "lastNodeExecuted": "error report",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1776703132870,
              "source": "webhook",
              "redaction": {
                "version": 1,
                "policy": "none"
              },
              "triggerNode": {
                "name": "webhook",
                "type": "n8n-nodes-base.webhook"
              }
            }
          },
          "workflow": {
            "id": "g4OjgQm63Z4K4c3F",
            "name": "main agent copy"
          }
        }
      }
    ]
  },
  "connections": {
    "error trigger": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call trigger": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "normalize error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize error": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split out": {
      "main": [
        [
          {
            "node": "loop response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop response": {
      "main": [
        [
          {
            "node": "error context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typing delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send response": {
      "main": [
        [
          {
            "node": "loop response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing delay": {
      "main": [
        [
          {
            "node": "send response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "client reponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "business reponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dev reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send response1": {
      "main": [
        [
          {
            "node": "loop response 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "client reponse": {
      "main": [
        [
          {
            "node": "split out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "business reponse": {
      "main": [
        [
          {
            "node": "split out 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dev reponse": {
      "main": [
        [
          {
            "node": "send response 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split out 1": {
      "main": [
        [
          {
            "node": "loop response 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop response 1": {
      "main": [
        [
          {
            "node": "error context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send response 2": {
      "main": [
        [],
        [
          {
            "node": "error report 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email": {
      "main": [
        [
          {
            "node": "error context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error context": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "00d28327-9ff7-4b96-b7dc-9083f033f6a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "bWdz3xBVwmycvfwW",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}