workflows/pending state.json
{
  "name": "pending state",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "state"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "client",
              "type": "object"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        16
      ],
      "id": "1dd215f4-2e3e-420d-9450-4404b242714a",
      "name": "webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p2z28Yex6r93HRT0",
          "mode": "list",
          "cachedResultUrl": "/workflow/p2z28Yex6r93HRT0",
          "cachedResultName": "clients"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "name",
            "business": "={{ {\n  id: $('data handler').item.json.id,\n  name: $('data handler').item.json.name\n} }}",
            "api": "={{ {\n  url: $('data handler').item.json.api.url,\n  token: $('data handler').item.json.api.token,\n  evo_instance: $('data handler').item.json.api.evo_instance\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid,\n  message: $('data handler').item.json.message.text\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "api",
              "displayName": "api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        16
      ],
      "id": "147961cd-ed00-4084-8598-36f8ad07cc4a",
      "name": "back to get name"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.state }}",
                    "rightValue": "awaiting_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e4dbe532-3cf7-4554-bd0c-b2e1cf1f5b6d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        16
      ],
      "id": "08f656ad-308b-46c3-9fea-c96b1ec78d61",
      "name": "pending_state"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed1a2d0c-3412-4fd4-8b4b-9b546488efe5",
              "name": "state",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "352b0e72-b1eb-4dc5-83f6-d22192950632",
              "name": "business",
              "value": "={{ $json.business }}",
              "type": "string"
            },
            {
              "id": "04c4d6f9-1957-4f77-8943-36d861e4f03a",
              "name": "client",
              "value": "={{ $json.client }}",
              "type": "string"
            },
            {
              "id": "deb23a92-cd9a-48d4-95b2-66dee01296bb",
              "name": "api",
              "value": "={{ $json.api }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        16
      ],
      "id": "4433ef88-5350-4100-aa2a-c9f84b59c455",
      "name": "data handler"
    }
  ],
  "pinData": {},
  "connections": {
    "pending_state": {
      "main": [
        [
          {
            "node": "back to get name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "pending_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "81a0b136-386c-4c9a-aef8-973d6658e5c1",
  "meta": {
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "2BBY2GXe0CWMszlt",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}