workflows/professionals.json
{
  "name": "professionals",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "professional",
              "type": "object"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        4160
      ],
      "id": "e6890190-0cec-4e2a-ba23-53ed6239062f",
      "name": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccd3750-dfb9-40e6-a88d-1c5d12d857b4",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "1ad73721-9117-496f-911d-85833c00b386",
              "name": "business",
              "value": "={{ $json.business }}",
              "type": "object"
            },
            {
              "id": "afcf3dc6-ac01-49f1-8423-32e554ff77c7",
              "name": "professional",
              "value": "={{ $json.professional }}",
              "type": "object"
            },
            {
              "id": "1cb79adc-6592-4d1f-93c1-fe8d78d54465",
              "name": "api",
              "value": "={{ {\n  ...$json.api,\n  url: $json.api.url + '/professionals'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        4160
      ],
      "id": "8201f8d7-c758-4ad5-8b7a-707e46ec3bec",
      "name": "data handler"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        3472
      ],
      "id": "2e7011ad-9fb9-4b43-965a-aa1941b0599f",
      "name": "get all",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "804a7f04-c007-4045-a9f5-34b606a6eea1",
              "name": "sucess",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "7748568d-748f-4ac6-ab88-fb32197f0806",
              "name": "professionals",
              "value": "={{ $json.professionals }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        3280
      ],
      "id": "0f452b3e-01a6-407a-99ea-29b76bdcde62",
      "name": "sucess"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1d07cfb-5acf-4eb2-acf3-9772a1c028d7",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "515c42e0-1cc3-474f-b8bd-94312e698da1",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1072,
        4160
      ],
      "id": "456a56c7-dbcf-441e-8f0b-9c98db0a3ecb",
      "name": "action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.professional.id }}",
                    "rightValue": "id",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "602d3e0e-c549-4dba-bda6-0780ec28e31b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c56f2523-14b9-42ea-ac7e-f26401f92f7b",
                    "leftValue": "={{ $('data handler').item.json.professional.name }}",
                    "rightValue": "name",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -864,
        4176
      ],
      "id": "1a13f08c-5912-4311-ae1c-14f78af95906",
      "name": "get"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "professional_name",
              "value": "={{ $('data handler').item.json.professional.name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        4336
      ],
      "id": "f4e4828a-0e36-4eb3-bc06-a111958f51c1",
      "name": "get by name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -448,
        3280
      ],
      "id": "b2a611fd-5a4e-4592-b80c-33e0aa79a50e",
      "name": "aggregate"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/{{ $('data handler').item.json.professional.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        3952
      ],
      "id": "014640e7-995b-4ed3-9633-f628c6dfc964",
      "name": "get by id",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal api\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -448,
        3616
      ],
      "id": "7315d3b3-365d-4824-8533-b5e821de531c",
      "name": "error report"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "beautyflow_bot.*.*.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        3456
      ],
      "id": "d945cc75-b1a7-4f98-b4d2-1ef95a56f58a",
      "name": "get context",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.{{ $('data handler').item.json.professional.id }}.*.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -656,
        3808
      ],
      "id": "51b1bdd2-1c9c-4d91-9f18-5e2dbf8faae2",
      "name": "get context 1",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 1').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        3808
      ],
      "id": "207e2ed4-dc33-46d8-b8e7-90ab1042f52b",
      "name": "has data? 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 2').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        4192
      ],
      "id": "6adf0616-672e-4a68-859a-085bb0600292",
      "name": "has data? 2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        3792
      ],
      "id": "e01a8a99-2bac-45e8-8787-5ecb59290cb8",
      "name": "aggregate 1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        4176
      ],
      "id": "fa6cc8df-323d-4608-82ea-e20a4a42b8ae",
      "name": "aggregate 2"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal api\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -32,
        4032
      ],
      "id": "f213d9ff-6844-4cb0-853e-490478a66343",
      "name": "error report 1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal api\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -32,
        4416
      ],
      "id": "958772cb-2ae4-4460-88eb-4c8a839851e9",
      "name": "error report 2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('loop').item.json.id }}.{{ $('loop').item.json.name }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('loop').item.json.id,\n  name: $('loop').item.json.name\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        176,
        3472
      ],
      "id": "154da4c1-1723-4748-95bf-c7293d425116",
      "name": "push context",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by id').item.json.id }}.{{ $('get by id').item.json.name }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('get by id').item.json.id,\n  name: $('get by id').item.json.name\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -32,
        3872
      ],
      "id": "c01329b5-c4d3-4f33-9291-7f65daff3314",
      "name": "push context 1",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by name').item.json.id }}.{{ $('get by name').item.json.name }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('get by name').item.json.id,\n  name: $('get by name').item.json.name\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -32,
        4256
      ],
      "id": "fbb69190-efc2-4e4b-b38b-d453be715e31",
      "name": "push context 2",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        3456
      ],
      "id": "347f972e-8dda-4463-8a23-19c02214cfdb",
      "name": "loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const professional = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: professional.id,\n        name: professional.name,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3792
      ],
      "id": "a9e404d8-8764-4e41-a008-8214c6cf1795",
      "name": "convert 1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const professional = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: professional.id,\n        name: professional.name,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        4176
      ],
      "id": "715c5f69-3280-48ed-9ea3-db304ab6779d",
      "name": "convert 2"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.*.{{ $('data handler').item.json.professional.name }}.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -656,
        4192
      ],
      "id": "003285be-bec6-4daf-9f53-5e7cceb4428a",
      "name": "get context 2",
      "credentials": {
        "redis": {
          "id": "nOvNVY4Hbhe1hTxw",
          "name": "N8N - Test DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $('get all').all();\nconst redisItems = $('get context').all();\n\nconst redisIds = new Set();\n\nfor (const item of redisItems) {\n  for (const value of Object.values(item.json)) {\n    const professional = JSON.parse(value);\n    redisIds.add(String(professional.id));\n  }\n}\n\nreturn httpItems\n  .filter(item => !redisIds.has(String(item.json.id)))\n  .map(item => ({\n    json: {\n      id: item.json.id,\n      name: item.json.name,\n    },\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3456
      ],
      "id": "38468ea6-9325-45b3-bc64-d606fa66058b",
      "name": "compare"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        3344
      ],
      "id": "6724c088-ac31-4b96-a627-fd189c81684f",
      "name": "end"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "action": "get",
          "professional": {
            "id": "1"
          },
          "api": {
            "url": "http://beautyflow-api:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3Nzg2MDI5OTZ9.E1GMS8kj4VJI-JJ2yiY_dlnLJaTTi7SEh-dC4FnNtNg"
          }
        }
      }
    ]
  },
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all": {
      "main": [
        [
          {
            "node": "get context",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action": {
      "main": [
        [
          {
            "node": "get all",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "main": [
        [
          {
            "node": "get context 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get context 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by name": {
      "main": [
        [
          {
            "node": "push context 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by id": {
      "main": [
        [
          {
            "node": "push context 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context": {
      "main": [
        [
          {
            "node": "compare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 1": {
      "main": [
        [
          {
            "node": "has data? 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 1": {
      "main": [
        [
          {
            "node": "convert 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 2": {
      "main": [
        [
          {
            "node": "convert 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 1": {
      "main": [
        [
          {
            "node": "sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 2": {
      "main": [
        [
          {
            "node": "sucess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 1": {
      "main": [
        [
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 2": {
      "main": [
        [
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "push context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 1": {
      "main": [
        [
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 2": {
      "main": [
        [
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 2": {
      "main": [
        [
          {
            "node": "has data? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eae21c13-87bb-4fdc-817a-8c5aac21ca86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "bFSJIIiJrsHfBGcU",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}