workflows/professionals.json
{
  "name": "professionals",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "professional",
              "type": "object"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        4176
      ],
      "id": "e6890190-0cec-4e2a-ba23-53ed6239062f",
      "name": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccd3750-dfb9-40e6-a88d-1c5d12d857b4",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "1ad73721-9117-496f-911d-85833c00b386",
              "name": "business",
              "value": "={{ $json.business }}",
              "type": "object"
            },
            {
              "id": "afcf3dc6-ac01-49f1-8423-32e554ff77c7",
              "name": "professional",
              "value": "={{ $json.professional }}",
              "type": "object"
            },
            {
              "id": "1cb79adc-6592-4d1f-93c1-fe8d78d54465",
              "name": "api",
              "value": "={{ {\n  ...$json.api,\n  url: $json.api.url + '/professionals'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        4176
      ],
      "id": "8201f8d7-c758-4ad5-8b7a-707e46ec3bec",
      "name": "data handler"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        3472
      ],
      "id": "2e7011ad-9fb9-4b43-965a-aa1941b0599f",
      "name": "get all",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1d07cfb-5acf-4eb2-acf3-9772a1c028d7",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "515c42e0-1cc3-474f-b8bd-94312e698da1",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1072,
        4176
      ],
      "id": "456a56c7-dbcf-441e-8f0b-9c98db0a3ecb",
      "name": "action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.professional.id }}",
                    "rightValue": "id",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "602d3e0e-c549-4dba-bda6-0780ec28e31b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c56f2523-14b9-42ea-ac7e-f26401f92f7b",
                    "leftValue": "={{ $('data handler').item.json.professional.name }}",
                    "rightValue": "name",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -864,
        4192
      ],
      "id": "1a13f08c-5912-4311-ae1c-14f78af95906",
      "name": "get"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "professional_name",
              "value": "={{ $('data handler').item.json.professional.name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        4352
      ],
      "id": "f4e4828a-0e36-4eb3-bc06-a111958f51c1",
      "name": "get by name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -448,
        3280
      ],
      "id": "b2a611fd-5a4e-4592-b80c-33e0aa79a50e",
      "name": "aggregate"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/{{ $('data handler').item.json.professional.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        3952
      ],
      "id": "014640e7-995b-4ed3-9633-f628c6dfc964",
      "name": "get by id",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "beautyflow_bot.*.*.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        3456
      ],
      "id": "d945cc75-b1a7-4f98-b4d2-1ef95a56f58a",
      "name": "get context",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.{{ $('data handler').item.json.professional.id }}.*.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -656,
        3808
      ],
      "id": "51b1bdd2-1c9c-4d91-9f18-5e2dbf8faae2",
      "name": "get context 1",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 1').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        3808
      ],
      "id": "207e2ed4-dc33-46d8-b8e7-90ab1042f52b",
      "name": "has data? 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 2').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        4192
      ],
      "id": "6adf0616-672e-4a68-859a-085bb0600292",
      "name": "has data? 2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        3792
      ],
      "id": "e01a8a99-2bac-45e8-8787-5ecb59290cb8",
      "name": "aggregate 1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "professionals",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        4176
      ],
      "id": "fa6cc8df-323d-4608-82ea-e20a4a42b8ae",
      "name": "aggregate 2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('loop').item.json.id }}.{{ $('loop').item.json.email }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('loop').item.json.id,\n  name: $('loop').item.json.name,\n  email: $('loop').item.json.email\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        384,
        3472
      ],
      "id": "154da4c1-1723-4748-95bf-c7293d425116",
      "name": "push context",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by id').item.json.id }}.{{ $('get by id').item.json.name }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('get by id').item.json.id,\n  name: $('get by id').item.json.name\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        192,
        3936
      ],
      "id": "c01329b5-c4d3-4f33-9291-7f65daff3314",
      "name": "push context 1",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by name').item.json.id }}.{{ $('get by name').item.json.name }}.professional_context",
        "value": "={{ JSON.stringify({\n  id: $('get by name').item.json.id,\n  name: $('get by name').item.json.name\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        4400
      ],
      "id": "fbb69190-efc2-4e4b-b38b-d453be715e31",
      "name": "push context 2",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        3456
      ],
      "id": "347f972e-8dda-4463-8a23-19c02214cfdb",
      "name": "loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const professional = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: professional.id,\n        name: professional.name,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3792
      ],
      "id": "a9e404d8-8764-4e41-a008-8214c6cf1795",
      "name": "convert 1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const professional = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: professional.id,\n        name: professional.name,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        4176
      ],
      "id": "715c5f69-3280-48ed-9ea3-db304ab6779d",
      "name": "convert 2"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.*.{{ $('data handler').item.json.professional.name }}.professional_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -656,
        4208
      ],
      "id": "003285be-bec6-4daf-9f53-5e7cceb4428a",
      "name": "get context 2",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $('get all').all();\nconst redisItems = $('get context').all();\n\nconst redisIds = new Set();\n\nfor (const item of redisItems) {\n  for (const value of Object.values(item.json)) {\n    const professional = JSON.parse(value);\n    redisIds.add(String(professional.id));\n  }\n}\n\nconst output = httpItems\n  .filter(item => !redisIds.has(String(item.json.id)))\n  .map(item => ({\n    json: {\n      id: item.json.id,\n      name: item.json.name,\n      email: item.json.email,\n    },\n  }));\n\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        equal: true,\n      },\n    },\n  ];\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        3440
      ],
      "id": "38468ea6-9325-45b3-bc64-d606fa66058b",
      "name": "compare"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4607fa57-8654-4b4b-aa93-3036290745b9",
              "leftValue": "={{ $('compare').item.json.equal }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        3440
      ],
      "id": "23790a7d-305f-489b-8d94-87559ea82394",
      "name": "if"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        3296
      ],
      "id": "5d0db5d9-2d87-452a-9a3f-09956d58649a",
      "name": "wait"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.get_timeout\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -656,
        4352
      ],
      "id": "e3dd9f43-aad7-4dc1-9b0f-95568d17aa1b",
      "name": "error report 23"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_professional\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -240,
        4496
      ],
      "id": "73f63b91-6570-4de9-821f-9bf0b37c653d",
      "name": "error report "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        4400
      ],
      "id": "d2609806-2978-4368-8310-c58f8fa4e2ea",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        4544
      ],
      "id": "5c287a3a-9eca-4cb8-b439-fede839d0e50",
      "name": "error report 24"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -656,
        3952
      ],
      "id": "7c2e04a4-e6a4-4584-a791-12e73085b3e0",
      "name": "error report 25"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        512,
        3952
      ],
      "id": "4029fdf2-64d4-4e61-81a9-4da2fd37726e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_professional\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -48,
        4048
      ],
      "id": "affcfd96-ebe2-46da-b745-da2d5f8f78a9",
      "name": "error report 1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_professional\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -656,
        3616
      ],
      "id": "b054e2d7-d240-48c1-8c53-1e17c071653c",
      "name": "error report 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={\n  \"execution\": \"{{ $execution.id }}\",\n  \"type\": \"external api\",\n  \"node\": \"intent type\",\n  \"code\": \"{{ $json.error.code }}\",\n  \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n}",
            "business": "={{ {\n  id: $('business context').item.json.id,\n  name: $('business context').item.json.name\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        3600
      ],
      "id": "75e98a96-8591-4622-b7a5-ce5c798f657a",
      "name": "error report 18"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        4048
      ],
      "id": "0b515e99-68cc-49d3-a637-9c58669f75e4",
      "name": "error report 26"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        3616
      ],
      "id": "31e7e708-ff73-4703-98d1-c3548a351bd5",
      "name": "error report 27"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "804a7f04-c007-4045-a9f5-34b606a6eea1",
              "name": "sucess",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "7748568d-748f-4ac6-ab88-fb32197f0806",
              "name": "professionals",
              "value": "={{ $json.professionals }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        3296
      ],
      "id": "0f452b3e-01a6-407a-99ea-29b76bdcde62",
      "name": "professionals context"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "action": "list",
          "business": {
            "id": 3,
            "name": null
          },
          "professional": null,
          "api": {
            "url": "http://beautyflow_backend:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3NzkxMjU4MzN9.IhaW4mT3Nw8dPy5f-xk_IfuidCO0SxGD09PKeQvSFNc",
            "evo_instance": "sale_instance"
          }
        }
      }
    ]
  },
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all": {
      "main": [
        [
          {
            "node": "get context",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action": {
      "main": [
        [
          {
            "node": "get all",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "main": [
        [
          {
            "node": "get context 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get context 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by name": {
      "main": [
        [
          {
            "node": "push context 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by id": {
      "main": [
        [
          {
            "node": "push context 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context": {
      "main": [
        [
          {
            "node": "compare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 1": {
      "main": [
        [
          {
            "node": "has data? 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 1": {
      "main": [
        [
          {
            "node": "convert 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 2": {
      "main": [
        [
          {
            "node": "convert 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 1": {
      "main": [
        [
          {
            "node": "professionals context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 2": {
      "main": [
        [
          {
            "node": "professionals context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "push context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 1": {
      "main": [
        [
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 2": {
      "main": [
        [
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 2": {
      "main": [
        [
          {
            "node": "has data? 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare": {
      "main": [
        [
          {
            "node": "if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "professionals context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 23": {
      "main": [
        [
          {
            "node": "has data? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 24": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 25": {
      "main": [
        [
          {
            "node": "has data? 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 26": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "professionals context": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b0d78064-3bda-4e94-84c6-121648940d57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "bFSJIIiJrsHfBGcU",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}