workflows/services.json
{
  "name": "services",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "business",
              "type": "object"
            },
            {
              "name": "service",
              "type": "object"
            },
            {
              "name": "api",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        5456
      ],
      "id": "46f855f5-d422-43de-a65c-35d3c272c0f9",
      "name": "webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccd3750-dfb9-40e6-a88d-1c5d12d857b4",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "1ad73721-9117-496f-911d-85833c00b386",
              "name": "business",
              "value": "={{ $json.business }}",
              "type": "object"
            },
            {
              "id": "afcf3dc6-ac01-49f1-8423-32e554ff77c7",
              "name": "service",
              "value": "={{ $json.service }}",
              "type": "object"
            },
            {
              "id": "1cb79adc-6592-4d1f-93c1-fe8d78d54465",
              "name": "api",
              "value": "={{ {\n  ...$json.api,\n  url: $json.api.url + '/services'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        5456
      ],
      "id": "19539fb4-66f8-4efe-ad6e-fe33dd6b158e",
      "name": "data handler"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        4688
      ],
      "id": "77b7f8ea-444b-4f56-a2f0-77d6ff41c6a8",
      "name": "get all",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1d07cfb-5acf-4eb2-acf3-9772a1c028d7",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LIST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "515c42e0-1cc3-474f-b8bd-94312e698da1",
                    "leftValue": "={{ $('data handler').item.json.action }}",
                    "rightValue": "get",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GET"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        5456
      ],
      "id": "10c0c6c1-bfc5-4e8b-ac0f-c311f94efe7c",
      "name": "action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data handler').item.json.service.id }}",
                    "rightValue": "id",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "602d3e0e-c549-4dba-bda6-0780ec28e31b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c56f2523-14b9-42ea-ac7e-f26401f92f7b",
                    "leftValue": "={{ $('data handler').item.json.service.name }}",
                    "rightValue": "name",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NAME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        5472
      ],
      "id": "c7d41547-b1b6-4fc9-b824-7bba1d1bc03d",
      "name": "get"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "service_name",
              "value": "={{ $('data handler').item.json.service.name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        5632
      ],
      "id": "3f228433-850b-4278-860a-63f3f30f66cf",
      "name": "get by name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "services",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name, price, duration_minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1328,
        4496
      ],
      "id": "300fc023-ecd5-40f4-b123-5d0fa6305e48",
      "name": "aggregate"
    },
    {
      "parameters": {
        "url": "={{ $('data handler').item.json.api.url }}/{{ $('data handler').item.json.service.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('data handler').item.json.api.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        5184
      ],
      "id": "25920458-99e2-4098-99c4-02a775873e7d",
      "name": "get by id",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "beautyflow_bot.*.*.service_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        4672
      ],
      "id": "29bf52af-80f3-485f-88d0-71805fae121b",
      "name": "get context",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.{{ $('data handler').item.json.service.id }}.*.service_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1120,
        5056
      ],
      "id": "a1d9d829-c1ad-4985-81d2-f8f9ed21902f",
      "name": "get context 1",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 1').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        5040
      ],
      "id": "b9eec892-b70d-4025-816a-2cd15262acd4",
      "name": "has data? 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4e5d140-889f-451a-ada6-7fc14c1a90e7",
              "leftValue": "={{ $('get context 2').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        5488
      ],
      "id": "d267e270-8498-4af9-a2ef-cb670512dba2",
      "name": "has data? 2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "services",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name, price, duration_minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2016,
        5024
      ],
      "id": "da5e94b0-d371-452b-8203-2b43d000f38e",
      "name": "aggregate 1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "services",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name, price, duration_minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2144,
        5472
      ],
      "id": "8bb5eab8-c7a4-4384-8d3d-c200921110ff",
      "name": "aggregate 2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('loop').item.json.id }}.{{ $('loop').item.json.name }}.service_context",
        "value": "={{ JSON.stringify({\n  id: $('loop').item.json.id,\n  name: $('loop').item.json.name,\n  price: $('loop').item.json.price,\n  duration_minutes: $('loop').item.json.duration_minutes\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        4688
      ],
      "id": "0aee0b6c-b9ea-47e3-b8aa-a447e659fb98",
      "name": "push context",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by id').item.json.id }}.{{ $('get by id').item.json.name }}.service_context",
        "value": "={{ JSON.stringify({\n  id: $('get by id').item.json.id,\n  name: $('get by id').item.json.name,\n  price: $('get by id').item.json.price,\n  duration_minutes: $('get by id').item.json.duration_minutes\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        5216
      ],
      "id": "9a359978-3774-4d84-810f-d0d28f4fc916",
      "name": "push context 1",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=beautyflow_bot.{{ $('get by name').item.json.id }}.{{ $('get by name').item.json.name }}.service_context",
        "value": "={{ JSON.stringify({\n  id: $('get by name').item.json.id,\n  name: $('get by name').item.json.name,\n  price: $('get by name').item.json.price,\n  duration_minutes: $('get by name').item.json.duration_minutes\n}) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        5680
      ],
      "id": "1cadf296-4261-4adb-b05f-1ba50c193e93",
      "name": "push context 2",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        4672
      ],
      "id": "a8423948-0be0-465f-a69b-0a4146bae59c",
      "name": "loop"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const service = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: service.id,\n        name: service.name,\n        price: service.price,\n        duration_minutes: service.duration_minutes,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        5024
      ],
      "id": "c22423a6-d8da-4cf9-a5e6-5e50834a2325",
      "name": "convert 1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  for (const [key, value] of Object.entries(item.json)) {\n    if (!value) continue;\n\n    const service = JSON.parse(value);\n\n    output.push({\n      json: {\n        id: service.id,\n        name: service.name,\n        price: service.price,\n        duration_minutes: service.duration_minutes,\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        5472
      ],
      "id": "bc9841dd-5ebf-4d59-a4ec-9da1ea60358a",
      "name": "convert 2"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=beautyflow_bot.*.{{ $('data handler').item.json.service.name }}.service_context"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1120,
        5488
      ],
      "id": "15f5c1d7-3729-4968-b5ca-3830465810c9",
      "name": "get context 2",
      "credentials": {
        "redis": {
          "id": "zMk8tatRFuFo6wmp",
          "name": "beautyflow"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $('get all').all();\nconst redisItems = $('get context').all();\n\nconst redisIds = new Set();\n\nfor (const item of redisItems) {\n  for (const value of Object.values(item.json)) {\n    const service = JSON.parse(value);\n    redisIds.add(String(service.id));\n  }\n}\n\nconst output = httpItems\n  .filter(item => !redisIds.has(String(item.json.id)))\n  .map(item => ({\n    json: {\n      id: item.json.id,\n      name: item.json.name,\n      price: item.json.price,\n      duration_minutes: item.json.duration_minutes,\n    },\n  }));\n\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        equal: true,\n      },\n    },\n  ];\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        4656
      ],
      "id": "e0f9c52f-751b-4870-aec7-466f831f1338",
      "name": "compare",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        4512
      ],
      "id": "0823fd23-463e-4146-b867-90a7235d5432",
      "name": "wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4607fa57-8654-4b4b-aa93-3036290745b9",
              "leftValue": "={{ $('compare').item.json.equal }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        4656
      ],
      "id": "93a495b3-b902-40fa-886f-f84f128ec9e3",
      "name": "if"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        5632
      ],
      "id": "30a0a03b-c320-4b85-90d3-38d075d26cb7",
      "name": "error report 21"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_service\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1536,
        5776
      ],
      "id": "3c1d9fc5-c06d-49de-87bd-d3d7d63a804a",
      "name": "error report 11"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_service\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1120,
        4832
      ],
      "id": "b93cdf94-6c2a-4fba-ab2d-bde4017a2518",
      "name": "error report 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2144,
        5664
      ],
      "id": "45831291-1d31-4283-8430-01d139ab4442",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1872,
        5824
      ],
      "id": "92fd3c68-5583-4607-aacf-77fbd3b3ebf8",
      "name": "error report 22"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        5200
      ],
      "id": "c5b84cf1-404c-4bcb-8be7-e93442a6d337",
      "name": "error report 23"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1760,
        5360
      ],
      "id": "5dcebb5c-f4ee-433c-97e4-453df157ff96",
      "name": "error report 24"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2016,
        5200
      ],
      "id": "d8f2bc72-32b0-44f3-b6c5-f8814eb3f3fb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"error\": {\n    \"workflow\": \"{{ $workflow.id }}\",\n    \"execution\": \"{{ $execution.id }}\",\n    \"type\": \"internal.api.get_service\",\n    \"node\": \"{{ $prevNode.name }}\",\n    \"code\": \"{{ $json.error.status || '' }}\",\n    \"description\": \"{{\n(() => {\n  try {\n    const part = $json.error.message.split(' - ')[1];\n    return JSON.parse(JSON.parse(part)).detail;\n  } catch (e) {\n    return $json.error.message;\n  }\n})()\n}}\"\n  },\n  \"business\": {\n    \"id\": \"{{ $('data handler').item.json.business.id || '' }}\",\n    \"name\": \"{{ $('data handler').item.json.business.name || '' }}\",\n    \"phone\": \"{{ $('data handler').item.json.business.phone || '' }}\"\n  },\n  \"client\": {\n    \"remote_jid\": \"{{ $('data handler').item.json.client.remote_jid || '' }}\",\n    \"message_id\": \"{{ $('data handler').item.json.message.id || '' }}\",\n    \"message_text\": \"{{ $('data handler').item.json.message.text || '' }}\"\n  }\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1536,
        5328
      ],
      "id": "9a846958-0450-4703-a0c1-3d00b5b2babc",
      "name": "error report 12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1328,
        4816
      ],
      "id": "3de081a9-f581-4e54-8b77-139231fb5fcf",
      "name": "error report "
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bWdz3xBVwmycvfwW",
          "mode": "list",
          "cachedResultUrl": "/workflow/bWdz3xBVwmycvfwW",
          "cachedResultName": "error"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "error": "={{ {\n  workflow: $workflow.id,\n  execution: $execution.id,\n  type: \"internal.redis.context\",\n  node: $prevNode.name,\n    code: $json.error.status || '',\n    description:\n  (() => {\n    try {\n      const part = $json.error.message.split(' - ')[1];\n      return JSON.parse(JSON.parse(part)).detail;\n    } catch (e) {\n      return $json.error.message;\n    }\n  })()\n} }}\n",
            "business": "={{ {\n    id: $('data handler').item.json.business.id || '',\n    name: $('data handler').item.json.business.name || '',\n    phone: $('data handler').item.json.business.phone || ''\n} }}",
            "client": "={{ {\n  remote_jid: $('data handler').item.json.client.remote_jid || '',\n  message_id: $('data handler').item.json.message.id || '',\n  message_text: $('data handler').item.json.message.text || ''\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        4832
      ],
      "id": "a80fa36e-4d4e-4bb1-8f53-8c0b4fac5b78",
      "name": "error report 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "804a7f04-c007-4045-a9f5-34b606a6eea1",
              "name": "sucess",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "7748568d-748f-4ac6-ab88-fb32197f0806",
              "name": "services",
              "value": "={{ $json.services }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        4512
      ],
      "id": "c47b9b35-8a22-42ad-bb5a-659ecb83ad5f",
      "name": "services context"
    }
  ],
  "pinData": {
    "webhook": [
      {
        "json": {
          "action": "list",
          "business": {
            "id": 3,
            "name": null
          },
          "service": null,
          "api": {
            "url": "http://beautyflow_backend:8000/v1",
            "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiYnVzaW5lc3NfaWQiOjMsInR5cGUiOiJidXNpbmVzc19pbnRlZ3JhdGlvbiIsInRva2VuX3R5cGUiOiJhY2Nlc3MiLCJleHAiOjE3NzkxMjQ1NDB9.x51vjNvt0OBdejlt_Q_HwJ7hx32ggLAYA6sfQLX9ZZw",
            "evo_instance": "sale_instance"
          }
        }
      }
    ]
  },
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "data handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data handler": {
      "main": [
        [
          {
            "node": "action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all": {
      "main": [
        [
          {
            "node": "get context",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action": {
      "main": [
        [
          {
            "node": "get all",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "main": [
        [
          {
            "node": "get context 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get context 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by name": {
      "main": [
        [
          {
            "node": "push context 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get by id": {
      "main": [
        [
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "push context 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context": {
      "main": [
        [
          {
            "node": "compare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 1": {
      "main": [
        [
          {
            "node": "has data? 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 1": {
      "main": [
        [
          {
            "node": "convert 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has data? 2": {
      "main": [
        [
          {
            "node": "convert 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get by name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 1": {
      "main": [
        [
          {
            "node": "services context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate 2": {
      "main": [
        [
          {
            "node": "services context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push context 2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "push context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 1": {
      "main": [
        [
          {
            "node": "aggregate 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert 2": {
      "main": [
        [
          {
            "node": "aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get context 2": {
      "main": [
        [
          {
            "node": "has data? 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error report 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compare": {
      "main": [
        [
          {
            "node": "if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "services context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 21": {
      "main": [
        [
          {
            "node": "has data? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 22": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 23": {
      "main": [
        [
          {
            "node": "has data? 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error report 24": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "services context": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "bWdz3xBVwmycvfwW",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a5c28442-579b-424e-84da-239698d73208",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b304e3d5690d6187ef909ae7d9f59e9b1a1652d2a6e2167896375e495fa017bf"
  },
  "id": "JUmgL8OgChZeJAWe",
  "tags": [
    {
      "updatedAt": "2025-06-26T00:38:55.999Z",
      "createdAt": "2025-06-26T00:38:55.999Z",
      "id": "bUwJA43QdWA1hja2",
      "name": "Kaiky"
    },
    {
      "updatedAt": "2026-02-25T19:58:55.694Z",
      "createdAt": "2026-02-25T19:58:55.694Z",
      "id": "f0nNVqFB5MvVr1Zx",
      "name": "beautyflow-api"
    }
  ]
}